SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW dbo.vwCNS_eDischarge

AS 

SELECT TOP (1) [MsgIssueDate]
      ,[SourceSystem]
      ,[MsgSender]
      ,[MsgRecipient]
      ,[IdType]
      ,[IdValue]
      ,[PersonNameType]
      ,gen.Gender_Desc				AS [Gender]
      ,[RecpHcpCode]
      ,[RecpHcpDescription]
      ,'O11111'						AS [RecpPracticeCode]
      ,'Test Practice 123'			AS [RecpPracticeName]
      ,sendHCP.Consultant_GMC_Code	AS [SendHCPCode]
	  ,sendHCP.Forename				AS [SendHCPForename]
	  ,sendHCP.Surname				AS [SendHCPSurname]
	  , NULL						AS [SendHCPPrefix]
      ,[SendHCPDesc]
      ,[SendDepartment]
      ,Athr.Consultant_GMC_Code		AS [AuthorCode]
	  ,Athr.Forename				AS [AuthorForename]
	  ,Athr.Surname					AS [AuthorSurname]
	  , NULL						AS [AuthorPrefix]
	  ,Athr.Mobile					AS [AuthorPhone]
      ,[OrgCode]
      ,[OrgName]
      ,[IntegratedDocumentID]
      ,[ReportType]
      ,[EventDate]
      ,[EventDateEnd]
      ,CONVERT(VARCHAR(20), CAST([DocCreationDate] AS DATE), 105) AS  [DocCreationDate]
      ,[FileExtension]
	  ,CAST([IntegratedDocumentID] AS VARCHAR(20))+'.pdf' AS [PDFName]
      ,[Attachment_File_Name]
      ,[CompletedByStaffDesc]
      ,[NHS_Number]
      ,ds.[Forename]
      ,ds.[Surname]
	  , NULL AS [PatientPrefix]
      ,CONVERT(VARCHAR(20),[Date_of_Birth], 105) AS [Date_of_Birth]
      ,[Age]
	  ,	ISNULL([Address1],'') + ', '+
		ISNULL([Address2],'') + ', '+
		ISNULL([Address3],'')  AS [Home_Address]
	  , [Address4] AS [City]
      ,[Address1]
      ,[Address2]
      ,[Address3]
      ,[Address4]
      ,[Address5]
      ,[Post_code]
      ,[GP_Name]
      ,[Practice_Name]
      ,[Practice_Address1]
      ,[Practice_Address2]
      ,[Practice_Address3]
      ,[Practice_Address4]
      ,[Practice_Address5]
      ,[Practice_Postcode]
      ,[fldDisLoc]
      ,[fldDisLocTele]
      ,[fldConsult]
      ,[fldCareCoord]
      ,[fldDateAdm]
      ,[fldDateDis]
      ,[fldMHAStat]
      ,[StartDate]
      ,[DisIssued]
      ,[ohftStaff]
      ,[CN_Doc_ID]
      ,ds.[Staff_Name]
      ,[OHFTDischargeNotificationSummaryV3_ID]
      ,[Confirm_Flag_ID]
      ,[fldDiagnosis]
      ,[fldSecDiagnosis0]
      ,[fldSecDiagnosis1]
      ,[fldSecDiagnosis2]
      ,[fldSecDiagnosis3]
      ,[fldSecDiagnosis4]
      ,[fldBriefSumm]
      ,[fldDisPlan]
      ,[fldDisComments]
      ,[fldDateNotIss]
      ,[SevenDayStaff]
      ,[fld7DayFollowComm]
      ,[MedName1]
      ,[MedName2]
      ,[MedName3]
      ,[MedName4]
      ,[MedName5]
      ,[MedName6]
      ,[MedName7]
      ,[MedName8]
      ,[MedName9]
      ,[MedName10]
      ,[MedName11]
      ,[MedName12]
      ,[MedName13]
      ,[MedName14]
      ,[MedName15]
      ,[MedName16]
      ,[MedName17]
      ,[MedName18]
      ,[MedName19]
      ,[MedName20]
      ,[MedName21]
      ,[MedName22]
      ,[MedName23]
      ,[MedName24]
      ,[MedName25]
      ,[flddose1]
      ,[flddose2]
      ,[flddose3]
      ,[flddose4]
      ,[flddose5]
      ,[flddose6]
      ,[flddose7]
      ,[flddose8]
      ,[flddose9]
      ,[flddose10]
      ,[flddose11]
      ,[flddose12]
      ,[flddose13]
      ,[flddose14]
      ,[flddose15]
      ,[flddose16]
      ,[flddose17]
      ,[flddose18]
      ,[flddose19]
      ,[flddose20]
      ,[flddose21]
      ,[flddose22]
      ,[flddose23]
      ,[flddose24]
      ,[flddose25]
      ,[routeDesc1]
      ,[routeDesc2]
      ,[routeDesc3]
      ,[routeDesc4]
      ,[routeDesc5]
      ,[routeDesc6]
      ,[routeDesc7]
      ,[routeDesc8]
      ,[routeDesc9]
      ,[routeDesc10]
      ,[routeDesc11]
      ,[routeDesc12]
      ,[routeDesc13]
      ,[routeDesc14]
      ,[routeDesc15]
      ,[routeDesc16]
      ,[routeDesc17]
      ,[routeDesc18]
      ,[routeDesc19]
      ,[routeDesc20]
      ,[routeDesc21]
      ,[routeDesc22]
      ,[routeDesc23]
      ,[routeDesc24]
      ,[routeDesc25]
      ,[fldcomm1]
      ,[fldcomm2]
      ,[fldcomm3]
      ,[fldcomm4]
      ,[fldcomm5]
      ,[fldcomm6]
      ,[fldcomm7]
      ,[fldcomm8]
      ,[fldcomm9]
      ,[fldcomm10]
      ,[fldcomm11]
      ,[fldcomm12]
      ,[fldcomm13]
      ,[fldcomm14]
      ,[fldcomm15]
      ,[fldcomm16]
      ,[fldcomm17]
      ,[fldcomm18]
      ,[fldcomm19]
      ,[fldcomm20]
      ,[fldcomm21]
      ,[fldcomm22]
      ,[fldcomm23]
      ,[fldcomm24]
      ,[fldcomm25]
      ,[prescDesc1]
      ,[prescDesc2]
      ,[prescDesc3]
      ,[prescDesc4]
      ,[prescDesc5]
      ,[prescDesc6]
      ,[prescDesc7]
      ,[prescDesc8]
      ,[prescDesc9]
      ,[prescDesc10]
      ,[prescDesc11]
      ,[prescDesc12]
      ,[prescDesc13]
      ,[prescDesc14]
      ,[prescDesc15]
      ,[prescDesc16]
      ,[prescDesc17]
      ,[prescDesc18]
      ,[prescDesc19]
      ,[prescDesc20]
      ,[prescDesc21]
      ,[prescDesc22]
      ,[prescDesc23]
      ,[prescDesc24]
      ,[prescDesc25]
      ,[CompletedBy]
      ,[fld7DayFollowYNID]
      ,[fld7DayFollowID]
      ,[Confirm_Date]
      ,[SevenDayFollowupStaff]
      ,ds.[Create_Dttm]
  FROM [hl7].[CNS_tblInterimDischargeSummary] ds
  LEFT JOIN Mirror.mrr.CNS_tblGenderValues gen
	ON ds.Gender_ID = gen.Gender_ID
  LEFT JOIN Mirror.mrr.CNS_tblStaff Athr 
	ON Athr.Staff_Name = ds.CompletedBy
  LEFT JOIN Mirror.mrr.CNS_tblStaff SendHCP 
	ON SendHCP.Staff_Name = ds.SendHCPDesc


GO
