SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW  [mrr].[CNC_tblGeneralDocumentCategoryValues] AS SELECT [General_Document_Category_ID], [General_Document_Category_Desc], [Active], [Default_Flag], [External_Code1], [External_Code2], [Display_Order], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm] FROM [Mirror].[mrr_tbl].[CNC_tblGeneralDocumentCategoryValues];

GO
