SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [mrr].[CNS_udfMHCarePlanv1] AS SELECT [MHCarePlanv1_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [OriginalAuthorID], [flstrtdate], [flrevdate], [Hidden_items], [Icd_10], [Cluster_lvl], [fldneed1], [fldint1], [fldwho1], [fldneed2], [fldint2], [fldwho2], [fldneed3], [fldint3], [fldwho3], [fldneed4], [fldint4], [fldwho4], [fldneed5], [fldint5], [fldwho5], [fldneed6], [fldint6], [fldwho6], [fldneed7], [fldint7], [fldwho7], [fldneed8], [fldint8], [fldwho8], [fldneed9], [fldint9], [fldwho9], [fldneed10], [fldint10], [fldwho10], [fldneed11], [fldint11], [fldwho11], [fldneed12], [fldint12], [fldwho12], [fldneed13], [fldint13], [fldwho13], [fldneed14], [fldint14], [fldwho14], [fldneed15], [fldint15], [fldwho15], [fldneed16], [fldint16], [fldwho16], [fldneed17], [fldint17], [fldwho17], [fldneed18], [fldint18], [fldwho18], [fldneed19], [fldint19], [fldwho19], [fldneed20], [fldint20], [fldwho20], [fldcurmed], [fldlvlinv], [fldothrcom], [fldtrigwarn], [fldcrspln], [fldcontpln], [fldsrvcusr], [fldinfoshar], [fldcpcopyID], [fldreason], [fldshrdate], [flgrb], [flgnd1], [flgnd2], [flgnd3], [flgnd4], [flgnd5], [flgnd6], [flgnd7], [flgnd8], [flgnd9], [flgnd10], [flgnd11], [flgnd12], [flgnd13], [flgnd14], [flgnd15], [flgnd16], [flgnd17], [flgnd18], [flgnd19], [flgnd20], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartDate], [StartTime], [fldSafetyPlanFileName], [fldSafetyPlan], [fldCarePlanType1ID], [fldCarePlanType2ID], [fldCarePlanType3ID], [fldCarePlanType4ID], [fldCarePlanType5ID], [fldCarePlanType6ID], [fldCPType], [fldCarePlanAgreed1ID], [fldCarePlanAgreed2ID], [fldCarePlanAgreed3ID], [fldCarePlanAgreed4ID], [fldCarePlanAgreed5ID], [fldCarePlanAgreed6ID], [fldCarePlanAgreed7ID], [fldCPAgreed] FROM [Mirror].[mrr_tbl].[CNS_udfMHCarePlanv1];

GO
