SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW  [mrr].[CNS_udfOHFTDischargeNotificationSummaryV3] AS SELECT [OHFTDischargeNotificationSummaryV3_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [fldDisLoc], [fldDisLocTele], [fldConsult], [fldCareCoord], [fldDateAdm], [fldDateDis], [fldMHAStat], [fldDisNotIssID], [fldDateNotIss], [fldDiagnosis], [flddrug1ID], [flddose1], [fldroute1ID], [fldprsbr1ID], [fldcomm1], [flddrug2ID], [flddose2], [fldroute2ID], [fldprsbr2ID], [fldcomm2], [flddrug3ID], [flddose3], [fldroute3ID], [fldprsbr3ID], [fldcomm3], [flddrug4ID], [flddose4], [fldroute4ID], [fldprsbr4ID], [fldcomm4], [flddrug5ID], [flddose5], [fldroute5ID], [fldprsbr5ID], [fldcomm5], [flddrug6ID], [flddose6], [fldroute6ID], [fldprsbr6ID], [fldcomm6], [flddrug7ID], [flddose7], [fldroute7ID], [fldprsbr7ID], [fldcomm7], [flddrug8ID], [flddose8], [fldroute8ID], [fldprsbr8ID], [fldcomm8], [flddrug9ID], [flddose9], [fldroute9ID], [fldprsbr9ID], [fldcomm9], [flddrug10ID], [flddose10], [fldroute10ID], [fldprsbr10ID], [fldcomm10], [flddrug11ID], [flddose11], [fldroute11ID], [fldprsbr11ID], [fldcomm11], [flddrug12ID], [flddose12], [fldroute12ID], [fldprsbr12ID], [fldcomm12], [flddrug13ID], [flddose13], [fldroute13ID], [fldprsbr13ID], [fldcomm13], [flddrug14ID], [flddose14], [fldroute14ID], [fldprsbr14ID], [fldcomm14], [flddrug15ID], [flddose15], [fldroute15ID], [fldprsbr15ID], [fldcomm15], [flddrug16ID], [flddose16], [fldroute16ID], [fldprsbr16ID], [fldcomm16], [flddrug17ID], [flddose17], [fldroute17ID], [fldprsbr17ID], [fldcomm17], [flddrug18ID], [flddose18], [fldroute18ID], [fldprsbr18ID], [fldcomm18], [flddrug19ID], [flddose19], [fldroute19ID], [fldprsbr19ID], [fldcomm19], [flddrug20ID], [flddose20], [fldroute20ID], [fldprsbr20ID], [fldcomm20], [flddrug21ID], [flddose21], [fldroute21ID], [fldprsbr21ID], [fldcomm21], [flddrug22ID], [flddose22], [fldroute22ID], [fldprsbr22ID], [fldcomm22], [flddrug23ID], [flddose23], [fldroute23ID], [fldprsbr23ID], [fldcomm23], [flddrug24ID], [flddose24], [fldroute24ID], [fldprsbr24ID], [fldcomm24], [flddrug25ID], [flddose25], [fldroute25ID], [fldprsbr25ID], [fldcomm25], [fldBriefSumm], [fldDisPlan], [fldDisComments], [fld7DayFollowYNID], [fld7DayFollowID], [fld7DayFollowComm], [flgchk], [flgchk7day], [fldWardStayID], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldSecDiagnosis0], [fldSecDiagnosis1], [fldSecDiagnosis2], [fldSecDiagnosis3], [fldSecDiagnosis4], [fldMHADate], [fldMHAStart], [fldMHAEnd], [fldMHAStatHide], [fld117Date], [fld117Start], [fld117End], [fld117StatHide], [fld117EndFormatted], [fldMHAOutcome], [fldMHAActive] FROM [Mirror].[mrr_tbl].[CNS_udfOHFTDischargeNotificationSummaryV3];

GO
