SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON


CREATE VIEW  [mrr].[CNC_tblLocation] AS SELECT [Location_ID], [Location_Name], [Start_Date], [Location_Status_ID], [End_Date], [Location_Team_Ward_ID], [Location_IMC_Code_ID], [Location_Specialty_ID], [Location_Sub_Specialty_ID], [Location_Category_ID], [Location_Gender_ID], [Location_Beds], [Address1], [Address2], [Address3], [Address4], [Address5], [Post_Code], [Phone], [Location_NFF_Ward_Type], [Site_Code], [Clinical_Care_Intensity_ID], [Location_Division_ID], [Cost_Code], [CAMHS_Service_Tier], [Clinical_Team_Classification_ID], [CMHT_Administrator_Staff_ID], [Consultant_Staff_ID], [Team_Email_Address], [MHA_Administration_Offices_ID], [Default_Booking_Type_ID], [Default_PB_Contact_Type_ID], [Additional_Information], [Location_Notes], [Agency_Code], [PCT_ID], [SM_Cost_Code], [SM_Service_Code], [Ppa_Code], [Sms_Appointment_Reminders_ID], [Sms_Tail], [Location_Udf_1], [Location_Udf_2], [Location_Udf_3], [Location_Udf_4], [Location_Udf_5], [Location_Udf_6], [Location_Udf_7], [Location_Udf_8], [Location_Udf_9], [Location_Udf_10], [Prescriber_PIN], [Prescriber_Practice_Code], [Ward_Security_Level_ID], [Intended_Age_Group_ID], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [Cluster_Location_ID], [Cluster_Location_Object_Type_ID], [Mental_Health_Care_Team_Type_ID], [Admission_Setting_ID], [CCG_ID], [MHSDS_Service_Type_ID], [Ward_Locked_ID] FROM [Mirror].[mrr_tbl].[CNC_tblLocation];

GO
