SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [mrr].[CNS_tblMHASectionDefinition] AS SELECT [MHA_Section_Definition_ID], [MHA_Section_Definition_Desc], [Active], [Default_Flag], [External_Code1], [External_Code2], [Display_Order], [CORC_Export_Code], [MHA_Section_Duration_Type_ID], [MHA_Section_Duration_Value], [Nominated_Deputy_Visible_Flag_ID], [Nominated_Deputy_Mandatory_Flag_ID], [Recommendation1_Visible_Flag_ID], [Recommendation1_Mandatory_Flag_ID], [Recommendation2_Visible_Flag_ID], [Recommendation2_Mandatory_Flag_ID], [Nurse_Visible_Flag_ID], [Nurse_Mandatory_Flag_ID], [Nearest_Relative_Visible_Flag_ID], [Nearest_Relative_Mandatory_Flag_ID], [Approved_Social_Worker_Visible_Flag_ID], [Approved_Social_Worker_Mandatory_Flag_ID], [Warn_If_No_Overlap_Flag_ID], [Set_End_Time_To_Midnight_Flag_ID], [Include_Social_Service_Assessment_Flag_ID], [Display_Renewal_Button_Flag_ID], [Display_Extension_Button_Flag_ID], [Comment_For_Med_Officer_Knows_Patient_Flag_ID], [Auto_Create_Section117_Doc_Flag_ID], [Include_Court_Details_Flag_ID], [Include_Home_Office_Details_Flag_ID], [Display_Mental_Category_Change_Button_Flag_ID], [Display_Sec12_Recomendation1_Approved_Flag_ID], [Display_Sec12_Recomendation2_Approved_Flag_ID], [Allow_Section_To_Be_Run_Concurrently_Under_Other_Sections_Flag_ID], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm] FROM [Mirror].[mrr_tbl].[CNS_tblMHASectionDefinition];

GO
