SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [mrr].[CNS_udfEISCommonAssessmentv2] AS SELECT [EISCommonAssessmentv2_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldCAARMSID], [fldCAARMSrateID], [fldCAARMSratecomm], [fldpatstatID], [fldpsydate1], [fldpsydate2], [fldpsydate3], [fldpsydate4], [fldcomorbradioID], [fldautisticchkID], [fldepilepsychkID], [fldothrchkID], [fldheadinjchkID], [fldThyroidchkID], [flddiabeteschkID], [fldsubmisckID], [fldcomorbRead], [fldcomorbothercomm], [fldServices], [fldexserAMHTID], [fldexseryouthoffID], [fldexserCAMHSID], [fldexserinpatwardID], [fldexserdrugalcID], [fldexserothrID], [fldExtServRead], [fldextServcomm], [fldposdelID], [fldposcondisorgID], [fldposhallbehID], [fldposexciteID], [fldposgrandID], [fldpossuspID], [fldposhostID], [fldnegbluntID], [fldnegemowithID], [fldnegpoorrapID], [fldnegpasssocwithID], [fldnegdiffabsID], [fldneglackspontID], [fldnegsterthinkID], [fldsltsofasID], [fldintcodedets], [fldintsumm], [fldmenhlthsatID], [fldaddhlpmenhlthID], [fldaddhlpdetsmenhlth], [fldperhlthsatID], [fldaddhlpperhlthID], [fldaddhlpdetsperhlth], [fldjobsatID], [fldaddhlpjobID], [fldaddhlpdetsjob], [fldaccomsatID], [fldaddhlpaccomID], [fldaddhlpdetsaccom], [fldleisactsatID], [fldaddhlpleisactID], [fldaddhlpdetsleisact], [fldfriendsatID], [fldaddhlpfriendID], [fldaddhlpdetsfriend], [fldpartfamsatID], [fldaddhlpfamsatID], [fldaddhlpdetsfamsat], [fldpersafesatID], [fldaddhlppersafeID], [fldaddhlpdetspersafe], [fldmedsatID], [fldaddhlpmedID], [fldaddhlpdetsmed], [fldprachlpsatID], [fldaddhlpID], [fldaddhlpdets], [fldmenhlthconsultsatID], [fldaddhlpmenhlthconsultID], [fldaddhlpdetsmenhlthconsult], [fldqprbtrmyslfID], [fldqprchncsID], [fldqprposrelID], [fldqprprtsocID], [fldqprassertID], [fldqprlifepurpID], [fldqprexpchngbtrID], [fldqprpastevntsID], [fldqprmotbtrID], [fldqprpostngsID], [fldqprundrstndmyslfID], [fldqprchrgoflifeID], [fldqprengwlifeID], [fldqprcontmylifeID], [fldqprtimeienjyID], [fldEIPdate0], [fldEIPdrop0ID], [fldEIPdate1], [fldEIPdrop1ID], [fldEIPdate2], [fldEIPdrop2ID], [fldEIPdate3], [fldEIPdrop3ID], [fldEIPdate4], [fldEIPdrop4ID], [fldEIPdate5], [fldEIPdrop5ID], [fldEIPdate6], [fldEIPdrop6ID], [fldEIPdate7], [fldEIPdrop7ID], [fldEIPdate8], [fldEIPdrop8ID], [fldEIPdate9], [fldEIPdrop9ID], [fldEIPdate10], [fldEIPdrop10ID], [fldEIPdate11], [fldEIPdrop11ID], [fldEIPdate12], [fldEIPdrop12ID], [fldEIPdate13], [fldEIPdrop13ID], [fldEIPdate14], [fldEIPdrop14ID], [fldEIPdate15], [fldEIPdrop15ID], [fldEIPdate16], [fldEIPdrop16ID], [flgAssessType], [flgCAARMS], [flgcomorbchk], [flgcomorbothr], [flgintcodedets], [flgExtServ], [flgDIALOG0], [flgDIALOG1], [flgDIALOG2], [flgDIALOG3], [flgDIALOG4], [flgDIALOG5], [flgDIALOG6], [flgDIALOG7], [flgDIALOG8], [flgDIALOG9], [flgDIALOG10], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartTime] FROM [Mirror].[mrr_tbl].[CNS_udfEISCommonAssessmentv2];

GO
