SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [mrr].[CNS_udfOHFTGENRiskAssessment] AS SELECT [OHFTGENRiskAssessment_ID], [Patient_ID], [OriginalAuthorID], [StartDate], [EndDate], [RiskHistory], [AggressionAndViolence612ID], [AggressionAndViolenceEverID], [SubstanceMisuse612ID], [SubstanceMisuseEverID], [ActWithSuicidalIntent612ID], [ActWithSuicidalIntentEverID], [PhysicalHealth612ID], [PhysicalHealthEverID], [SuicidalIdeation612ID], [SuicidalIdeationEverID], [NonConcordance612ID], [NonConcordanceEverID], [SevereSelfNeglect612ID], [SevereSelfNeglectEverID], [Disengagement612ID], [DisengagementEverID], [SelfHarm612ID], [SelfHarmEverID], [Relapse612ID], [RelapseEverID], [RiskToChildrenAdults612ID], [RiskToChildrenAdultsEverID], [Exploitation612ID], [ExploitationEverID], [RisksIdentifiedComments], [AbscondingEscapingEverID], [PhoneCallsEverID], [DamageToPropertyEverID], [TheftEverID], [IncidentsInvolvingPoliceEverID], [RiskEvidenceGeneralComments], [AccidentalHarmOutsideHomeEverID], [FireEverID], [DrivingRoadSafetyEverID], [UnsafeUseMedicationEverID], [FallsEverID], [AccidentsComments], [ArsonEverID], [ProbationServiceInvolvementEverID], [ExpliotationFinancialEmotionalEverID], [RiskToChildrenEverID], [HostageTakingEverID], [RiskToVulnrableAdultsEverID], [MAPPAEverID], [StalkingEverID], [WeaponsEverID], [HarmToOthersComments], [ConvictedOfSexOffenceAgainstChildYoungPersonEverID], [ConvictedOfSexualAssaultEverID], [SexOffendersAct2003EverID], [SexualOffencesComments], [familyEverID], [OtherClientsEverID], [GeneralPublicEverID], [StaffEverID], [ViolenceTowardsOthersComments], [CPPForSelfOrOtherEverID], [RiskOfNeglectEverID], [RiskCausedByMedicationsServicesTreatmentEverID], [RiskOfPhysicalHarmEverID], [RiskOfEmotionalPsychologicalAbuseEverID], [RiskOfUnlawfulRestrictionsEverID], [RiskOfFinancialAbuseEverID], [RiskOfSexualExploitationEverID], [HarmFromOthersComments], [AttemptedSuicideWithIntentEverID], [SelfNeglectEverID], [ParaSuicideEverID], [SuicidalIdeationHarmToSelfEverID], [SelfInjuryOrHarmEverID], [HarmToSelfComments], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm] FROM [Mirror].[mrr_tbl].[CNS_udfOHFTGENRiskAssessment];

GO
