SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tblOH_MPI](
	[MPI_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Forename] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Surname] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Title] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[Date_Of_Birth] [datetime] NULL,
	[NHS_Number] [varchar](11) COLLATE Latin1_General_CI_AS NOT NULL,
	[Gender_ID] [int] NULL,
	[Address1] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Address2] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Address3] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Address4] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Postcode] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[AddressType] [int] NULL,
	[Date_Of_Death] [datetime] NULL,
	[PracticeName] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[PracticeCode] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[GPCode] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[GPName] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[GPPrefix] [int] NULL,
	[PrimaryLanguage] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[MaritalStatus] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[EthnicGroup] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Religion] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[CreatedDttm] [datetime] NULL,
	[UpdatedDttm] [datetime] NULL,
	[MH_Patient_ID] [int] NULL,
	[CH_Patient_ID] [int] NULL,
	[Adastra_Patient_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[PCMIS_Patient_ID] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[UpdatedSourcesystem] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[UpdatedEventCode] [varchar](3) COLLATE Latin1_General_CI_AS NULL,
	[Sent] [bit] NULL,
	[PrimaryLanguageCode] [nvarchar](2) COLLATE Latin1_General_CI_AS NULL,
	[MPI_Dttm] [datetime] NULL,
	[Sent_Dttm] [datetime] NULL,
	[ValidNHSNumber] [varchar](1) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]

GO
