SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tmpmpitelefone123](
	[MPI_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CH_Patient_ID] [int] NULL,
	[MH_Patient_ID] [int] NULL
) ON [PRIMARY]

GO
