SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[ADA_DBS_IE_Extract_Final - Copy](
	[Column 0] [smallint] NULL,
	[Column 1] [varchar](36) COLLATE Latin1_General_CI_AS NULL,
	[Column 2] [smallint] NULL,
	[Column 3] [bigint] NULL,
	[Column 4] [int] NULL,
	[Column 5] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 6] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 7] [bigint] NULL,
	[Column 8] [varchar](34) COLLATE Latin1_General_CI_AS NULL,
	[Column 9] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 10] [varchar](31) COLLATE Latin1_General_CI_AS NULL,
	[Column 11] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 12] [smallint] NULL,
	[Column 13] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 14] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 15] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 16] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 17] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 18] [varchar](8) COLLATE Latin1_General_CI_AS NULL,
	[Column 19] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 20] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 21] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 22] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 23] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 24] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 25] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 26] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 27] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 28] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 29] [int] NULL,
	[Column 30] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 31] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[Column 32] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 33] [int] NULL,
	[Column 34] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 35] [varchar](27) COLLATE Latin1_General_CI_AS NULL,
	[Column 36] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 37] [varchar](24) COLLATE Latin1_General_CI_AS NULL,
	[Column 38] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 39] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Column 40] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 41] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Column 42] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 43] [smallint] NULL,
	[Column 44] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 45] [varchar](35) COLLATE Latin1_General_CI_AS NULL,
	[Column 46] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 47] [varchar](35) COLLATE Latin1_General_CI_AS NULL,
	[Column 48] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 49] [varchar](27) COLLATE Latin1_General_CI_AS NULL,
	[Column 50] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 51] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Column 52] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 53] [varchar](24) COLLATE Latin1_General_CI_AS NULL,
	[Column 54] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 55] [varchar](8) COLLATE Latin1_General_CI_AS NULL,
	[Column 56] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 57] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 58] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[Column 59] [varchar](6) COLLATE Latin1_General_CI_AS NULL,
	[Column 60] [varchar](max) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
