SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [IWGC_src].[tblIWGC_IWantGreatCare](
	[date] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[source] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[organisation] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[site] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[name] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[enabled] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[type] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[unify] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Directorate] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Service_Level] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Locality_County] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Cluster] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Pathway] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[recommend] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[dignity] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[involved] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[information] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[staff] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[parent_dignity] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[suitable_location] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[kindness] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[understanding] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[listening] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[safe] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[satisfied_with_service] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[age] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[gender] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[disability] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[ethnicity] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[patient_type] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[question_set] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[free_text] [varchar](max) COLLATE Latin1_General_CI_AS NULL,
	[publishable] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[batch_id] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[review_uuid] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[review_id] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[specialty1] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[specialty2] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dtt] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
