SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [ORU_SRC].[tblORU_PV1_PatientVisits](
	[Message_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Patient_Class] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Point_of_Care] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Room] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Bed] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Facility] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Location_Status] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Location_Type] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Building] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Type] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Preadmit_Number] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Prior_Patient_Location] [varchar](80) COLLATE Latin1_General_CI_AS NULL,
	[Referring_Doctor] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Consulting_Doctor] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Hospital_Service] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Temporary_Location] [varchar](80) COLLATE Latin1_General_CI_AS NULL,
	[Preadmit_Test_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Readmission_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Admit_Source] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Ambulatory_Status] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[VIP_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Admitting_Doctor] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Patient_Type] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Visit_Number] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Identifier_Check_Digit] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Check_Digit_Scheme] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Assigning_Authority] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Identifier_Type_Code] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Financial_Class] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Charge_Price_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Courtesy_Code] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Credit_Rating] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Contract_Code] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Contract_Effective_Date] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Contract_Amount] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Contract_Period] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Interest_Code] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Transfer_to_Bad_Debt_Code] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Transfer_to_Bad_Debt_Date] [varchar](8) COLLATE Latin1_General_CI_AS NULL,
	[Bad_Debt_Agency_Code] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Bad_Debt_Transfer_Amount] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Bad_Debt_Recovery_Amount] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Delete_Account_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Delete_Account_Date] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Discharge_Disposition] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Discharged_to_Location] [varchar](25) COLLATE Latin1_General_CI_AS NULL,
	[Diet_Type] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Servicing_Facility] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Bed_Status] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Account_Status] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Pending_Location] [varchar](80) COLLATE Latin1_General_CI_AS NULL,
	[Prior_Temporary_Location] [varchar](80) COLLATE Latin1_General_CI_AS NULL,
	[Admit_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Discharge_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Current_Patient_Balance] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Total_Charges] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Total_Adjustments] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Total_Payments] [varchar](12) COLLATE Latin1_General_CI_AS NULL,
	[Alternate_Visit_ID] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Visit_Indicator] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Other_Healthcare_Provider] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dttm] [datetime] NULL
) ON [PRIMARY]

GO
