SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [ORU_SRC].[tblORU_OBR_ObservationRequest](
	[Message_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[OBR_ID] [varchar](4) COLLATE Latin1_General_CI_AS NULL,
	[Unique_Placer_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Placer_Application_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Unique_Filler_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Filler_Application_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Universal_Service_ID] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Universal_Service_Text] [varchar](250) COLLATE Latin1_General_CI_AS NULL,
	[Priority] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[Requested_Datetime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Observation_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Observation_End_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Collection_Volume] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Collector_Identifier] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Specimen_Action_Code] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[Danger_Code] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Relevant_Clinical_Info] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[Specimen_Received_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Specimen_Source] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[Order_Callback_Phone_Number] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[Placer_field_1] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Placer_field_2] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Filler_Field_1] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Filler_Field_2] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Results_RptStatus_Chng_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Charge_to_Practice] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[Diagnostic_Serv_Sect_ID] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Result_Status] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[Parent_Result] [varchar](400) COLLATE Latin1_General_CI_AS NULL,
	[Quantity_Timing] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Result_Copies_To] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[Parent] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[Transportation_Mode] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Reason_for_Study] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[Principal_Result_Interpreter] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Assistant_Result_Interpreter] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Technician] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Transcriptionist] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Number_of_Sample_Containers] [varchar](4) COLLATE Latin1_General_CI_AS NULL,
	[Transport_Logistics_of_Collected_Sample] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Collectors_Comment] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Transport_Arrangement_Responsibility] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Transport_Arranged] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Escort_Required] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[Planned_Patient_Transport_Comment] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dttm] [datetime] NULL
) ON [PRIMARY]

GO
