SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [ORU_SRC].[tblORU_ORC_CommonOrder](
	[Message_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ORC_ID] [varchar](4) COLLATE Latin1_General_CI_AS NULL,
	[Unique_Placer_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Placer_Application_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Unique_Filler_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Filler_Application_ID] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Placer_Group_Number] [varchar](22) COLLATE Latin1_General_CI_AS NULL,
	[Order_Status] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[Response_Flag] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[Quantity_Timing] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Parent] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Transaction_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Person_ID] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Family_Name] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Given_Name] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Other_Given_Names] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Suffix] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Prefix] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[Degree] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Source_Table] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Assigning_Authority] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Name_Type_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Identifier_Check_Digit] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Check_Digit_Scheme] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Identifier_Type_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Assigning_Facility] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Name_Representation_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Verified_By] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Ordering_Provider_Doctor_ID] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Ordering_Provider_Doctor_Surname] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Ordering_Provider_Doctor_Forename] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Enterer_Location] [varchar](80) COLLATE Latin1_General_CI_AS NULL,
	[Call_Back_Phone_Number] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[Order_Effective_DateTime] [varchar](26) COLLATE Latin1_General_CI_AS NULL,
	[Order_Control_Code_Reason] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[Entering_Organization] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Entering_Device] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Action_By] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dttm] [datetime] NULL
) ON [PRIMARY]

GO
