SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [src_DBS].[tblCNS_DBSTraceReturnedFile](
	[RecordType] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[LocalPID] [varchar](10) COLLATE Latin1_General_CI_AS NOT NULL,
	[NoMultipleMatches] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[TraceNHS] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DOB] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DoD] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[OldNHSNumber] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[NewNHSNumber] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Surname] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[AltSurname] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Forename] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[AltForename] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Sex] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Address1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Postcode] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevAddress1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevAddress2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevAddress3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevAddress4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevAddress5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevPostcode] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[GP] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[GPPract] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevGP] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PrevGPPract] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedDOB] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DateReturnedDateLastModified] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DeadIndicator] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DateCRLastModified] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnDateOfPosting] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DatePostLastUpdated] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnSurname] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DM1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedForename] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DM2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnaltSurname] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DM3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnOtherForename] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[DM4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedSex] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedAddressLine_1] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM6] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedAddressLine_2] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM7] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedAddressLine_3] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM8] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedAddressLine_4] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM9] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedAddressLine_5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM10] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedPostcode] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM11] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedRegisteredGP] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM12] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ReturnedRegisteredGPPractice] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[DM13] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Match_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dttm] [datetime2](7) NULL
) ON [PRIMARY]

GO
