SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

				/*==========================================================================================================================================
				Notes:
				Template for loading Mirror table incrementally.

				TODO Is this the right place for the transactions? Should transaction handling be external to this procedure?

				Test:

				EXECUTE mrr_tbl.load_CNS_tblMHASection
				EXECUTE mrr_tbl.load_CNS_tblMHASection 'F'

				History:
				11/04/2018 OBMH\Steve.Nicoll Initial version.

				==========================================================================================================================================*/

				CREATE PROCEDURE [mrr_tbl].[load_CNS_tblMHASection]
					-- Add the parameters for the stored procedure here
					@LoadType NVARCHAR(1) = 'I' -- I= Incremental, F=Truncate/Insert
				AS
				BEGIN
					-- SET NOCOUNT ON added to prevent extra result sets from
					-- interfering with statement count.
					SET NOCOUNT ON;
					DECLARE @Threshold NUMERIC(4, 1) = 25.0; -- When gross change greater than this percentage, we will do a full reload. (Valid values between 0.0-100.0, to 1 decimal place.)
					DECLARE @OriginalTargetCount BIGINT,
							@WorkingCount INTEGER,
							@Inserted INTEGER = 0,
							@Updated INTEGER = 0,
							@Deleted INTEGER = 0,
							@StartTime DATETIME2 = GETDATE(),
							@EndTime DATETIME2;

					--Try...
					BEGIN TRY
						--	How many records in target (the count does not have to be super accurate but should be as fast as possible)?
						SET @OriginalTargetCount =
						(
							SELECT COUNT(*) FROM mrr_tbl.CNS_tblMHASection
						);

						--	Load working table from source.
						BEGIN TRANSACTION; -- INSERT INTO mrr_wrk.CNS_tblMHASection

						TRUNCATE TABLE mrr_wrk.CNS_tblMHASection;

						INSERT INTO mrr_wrk.CNS_tblMHASection
						(
							[MHA_Section_ID], [Updated_Dttm]
						)
						SELECT [MHA_Section_ID], [Updated_Dttm]
						FROM [MHOXCARESQL01\MHOXCARESQL01].[CareNotesOxfordLive].[dbo].[tblMHASection];

						--	How many records in working table?
						SET @WorkingCount = @@ROWCOUNT;

						COMMIT TRANSACTION; -- INSERT INTO mrr_wrk.CNS_tblMHASection

						--	If 0 records in target or ABS(nW-nT) > Threshold force a Truncate/Insert. --TODO not ideal test but achievable without slowing the procedure down too much.
						IF ABS(@WorkingCount - @OriginalTargetCount) >= CAST((@OriginalTargetCount * @Threshold / 100) AS INTEGER)
							SET @LoadType = 'F';

						BEGIN TRANSACTION; -- Start transaction for the load and audit.

						--	We now do either a full (F) reload of the target or an incremental (I) load depending on what has been requested or how much data is changing.
						IF @LoadType = 'F'
						BEGIN
							--	Full load target from source.

							TRUNCATE TABLE mrr_tbl.CNS_tblMHASection;

							INSERT INTO mrr_tbl.CNS_tblMHASection
							(
								[MHA_Section_ID], [Patient_ID], [MHA_Section_Definition_ID], [MHA_Nominated_Deputy], [Recommendation1_Staff_Name], [Recommendation1_Section_Approved_ID], [Recommendation2_Approver_ID], [Recommendation2_Section_Approved_ID], [Recommendation2_Staff_ID], [Recommendation2_GP_ID], [Recommendation2_Other], [Nurse_Name], [Social_Worker_Or_Nearest_Relative_ID], [Approved_Social_Worker_Staff_Name], [Nearest_Relative], [MHA_Mental_Category_ID], [Sub_MHA_Mental_Category_ID], [Admission_Type_ID], [Start_Date], [Start_Time], [Due_End_Date], [Due_End_Time], [New_Section], [Alert_Due_Date], [Alert_Due_Date2], [Alert_Send_To_Staff_ID], [End_Date], [End_Time], [MHA_Outcome_ID], [Outcome_Where_To], [Outcome_Where_From], [Date_Rights_Given_To_Patient], [Date_Letter_Sent_To_Social_Services], [Court_Name], [Court_Reference], [Home_Office_Warrant], [Social_Service_Contact_Name], [Social_Service_Contact_Date], [Assessment_Received_Date], [Comments], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [Start_Reason_ID], [Transfer_Date]
							)
							SELECT [MHA_Section_ID], [Patient_ID], [MHA_Section_Definition_ID], [MHA_Nominated_Deputy], [Recommendation1_Staff_Name], [Recommendation1_Section_Approved_ID], [Recommendation2_Approver_ID], [Recommendation2_Section_Approved_ID], [Recommendation2_Staff_ID], [Recommendation2_GP_ID], [Recommendation2_Other], [Nurse_Name], [Social_Worker_Or_Nearest_Relative_ID], [Approved_Social_Worker_Staff_Name], [Nearest_Relative], [MHA_Mental_Category_ID], [Sub_MHA_Mental_Category_ID], [Admission_Type_ID], [Start_Date], [Start_Time], [Due_End_Date], [Due_End_Time], [New_Section], [Alert_Due_Date], [Alert_Due_Date2], [Alert_Send_To_Staff_ID], [End_Date], [End_Time], [MHA_Outcome_ID], [Outcome_Where_To], [Outcome_Where_From], [Date_Rights_Given_To_Patient], [Date_Letter_Sent_To_Social_Services], [Court_Name], [Court_Reference], [Home_Office_Warrant], [Social_Service_Contact_Name], [Social_Service_Contact_Date], [Assessment_Received_Date], [Comments], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [Start_Reason_ID], [Transfer_Date]
							FROM [MHOXCARESQL01\MHOXCARESQL01].[CareNotesOxfordLive].[dbo].[tblMHASection];

							SET @Inserted = @@ROWCOUNT;

						END;
						--	Else load target incrementally...
						ELSE
						BEGIN

							--	Delete from target where target PK not in working table. --TODO We can save time by doing deletes and updated together but then we wouldn not be able to report separate counts for deleted/updated/inserted.
							DELETE tgt
							FROM mrr_tbl.CNS_tblMHASection AS tgt
							WHERE NOT EXISTS
							(
								SELECT NULL
								FROM mrr_wrk.CNS_tblMHASection AS src
								WHERE tgt.[MHA_Section_ID] = src.[MHA_Section_ID]
							);
							--	How many deleted?
							SET @Deleted = @@ROWCOUNT;

							--	Delete from target where working table PK & ChangeDetectionColumn not in target.
							DELETE tgt
							FROM mrr_tbl.CNS_tblMHASection AS tgt
							WHERE NOT EXISTS
							(
								SELECT NULL
								FROM mrr_wrk.CNS_tblMHASection AS src
								WHERE tgt.[MHA_Section_ID] = src.[MHA_Section_ID] AND tgt.[Updated_Dttm] = src.[Updated_Dttm]
							);
							--	How many updated?
							SET @Updated = @@ROWCOUNT;

							--		Insert into Target from source where working table PK & ChangeDetectionColumn not in target.
							INSERT INTO mrr_tbl.CNS_tblMHASection
							(
								[MHA_Section_ID], [Patient_ID], [MHA_Section_Definition_ID], [MHA_Nominated_Deputy], [Recommendation1_Staff_Name], [Recommendation1_Section_Approved_ID], [Recommendation2_Approver_ID], [Recommendation2_Section_Approved_ID], [Recommendation2_Staff_ID], [Recommendation2_GP_ID], [Recommendation2_Other], [Nurse_Name], [Social_Worker_Or_Nearest_Relative_ID], [Approved_Social_Worker_Staff_Name], [Nearest_Relative], [MHA_Mental_Category_ID], [Sub_MHA_Mental_Category_ID], [Admission_Type_ID], [Start_Date], [Start_Time], [Due_End_Date], [Due_End_Time], [New_Section], [Alert_Due_Date], [Alert_Due_Date2], [Alert_Send_To_Staff_ID], [End_Date], [End_Time], [MHA_Outcome_ID], [Outcome_Where_To], [Outcome_Where_From], [Date_Rights_Given_To_Patient], [Date_Letter_Sent_To_Social_Services], [Court_Name], [Court_Reference], [Home_Office_Warrant], [Social_Service_Contact_Name], [Social_Service_Contact_Date], [Assessment_Received_Date], [Comments], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [Start_Reason_ID], [Transfer_Date]
							)
							SELECT src.[MHA_Section_ID], src.[Patient_ID], src.[MHA_Section_Definition_ID], src.[MHA_Nominated_Deputy], src.[Recommendation1_Staff_Name], src.[Recommendation1_Section_Approved_ID], src.[Recommendation2_Approver_ID], src.[Recommendation2_Section_Approved_ID], src.[Recommendation2_Staff_ID], src.[Recommendation2_GP_ID], src.[Recommendation2_Other], src.[Nurse_Name], src.[Social_Worker_Or_Nearest_Relative_ID], src.[Approved_Social_Worker_Staff_Name], src.[Nearest_Relative], src.[MHA_Mental_Category_ID], src.[Sub_MHA_Mental_Category_ID], src.[Admission_Type_ID], src.[Start_Date], src.[Start_Time], src.[Due_End_Date], src.[Due_End_Time], src.[New_Section], src.[Alert_Due_Date], src.[Alert_Due_Date2], src.[Alert_Send_To_Staff_ID], src.[End_Date], src.[End_Time], src.[MHA_Outcome_ID], src.[Outcome_Where_To], src.[Outcome_Where_From], src.[Date_Rights_Given_To_Patient], src.[Date_Letter_Sent_To_Social_Services], src.[Court_Name], src.[Court_Reference], src.[Home_Office_Warrant], src.[Social_Service_Contact_Name], src.[Social_Service_Contact_Date], src.[Assessment_Received_Date], src.[Comments], src.[User_Created], src.[Create_Dttm], src.[User_Updated], src.[Updated_Dttm], src.[Start_Reason_ID], src.[Transfer_Date]
							FROM [MHOXCARESQL01\MHOXCARESQL01].[CareNotesOxfordLive].[dbo].[tblMHASection] AS src
							INNER JOIN (SELECT wrk.[MHA_Section_ID] FROM mrr_wrk.CNS_tblMHASection wrk
									WHERE NOT EXISTS
									(
										SELECT NULL
										FROM mrr_tbl.CNS_tblMHASection AS tgt
										WHERE wrk.[MHA_Section_ID] = tgt.[MHA_Section_ID]
									)
								) MissingRecs ON (MissingRecs.[MHA_Section_ID] = src.[MHA_Section_ID]);


							--	How many really inserted? ROWCOUNT = inserted + updated records.
							SET @Inserted = @@ROWCOUNT - @Updated;

						--		Truncate working table? --TODO decide.
						END;

						--	Update audit table.
						SET @EndTime = GETDATE();

						INSERT INTO mrr_aud.CNS_tblMHASection
						(
							LoadType,
							RunByUser,
							StartTime,
							EndTime,
							Inserted,
							Updated,
							Deleted
						)
						VALUES
						(   @LoadType,   -- LoadType - nvarchar(1)
							SYSTEM_USER, -- RunByUser - nvarchar(128)
							@StartTime,  -- StartTime - datetime2(7)
							@EndTime,    -- EndTime - datetime2(7)
							@Inserted,   -- Inserted - int
							@Updated,    -- Updated - int
							@Deleted     -- Deleted - int
							);

						-- Commit the data lolad and audit table update.
						COMMIT TRANSACTION; -- INSERT INTO mrr_aud.CNS_tblMHASection

					END TRY
					--Catch if transaction open roll it back.
					BEGIN CATCH
						IF @@TRANCOUNT > 0
							ROLLBACK TRANSACTION;
						THROW;
					END CATCH;

				END;
				
GO
