SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

			/*==========================================================================================================================================
				Notes:
				Template for checking that Mirror table data matches the source data. This cannot compare text and blob datatype at present but it
				provides a good enough check that the mirror table is up to date.


				Test:

				EXECUTE mrr_tbl.reconcile_CNS_udfEISCommonAssessmentv2

				History:
				11/04/2018 OBMH\Steve.Nicoll Initial version.

				==========================================================================================================================================*/

				CREATE PROCEDURE [mrr_tbl].[reconcile_CNS_udfEISCommonAssessmentv2]
				-- Add the parameters for the stored procedure here
				AS
				BEGIN
					-- SET NOCOUNT ON added to prevent extra result sets from
					-- interfering with statement count.
					SET NOCOUNT ON;

					DECLARE @DiscrepacyCount BIGINT = 0;

					WITH GatherDiscrepancies
					AS ((SELECT 'In Mirror' AS DiscrepancySource
							   ,[EISCommonAssessmentv2_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldCAARMSID], [fldCAARMSrateID], [fldpatstatID], [fldpsydate1], [fldpsydate2], [fldpsydate3], [fldpsydate4], [fldcomorbradioID], [fldautisticchkID], [fldepilepsychkID], [fldothrchkID], [fldheadinjchkID], [fldThyroidchkID], [flddiabeteschkID], [fldsubmisckID], [fldexserAMHTID], [fldexseryouthoffID], [fldexserCAMHSID], [fldexserinpatwardID], [fldexserdrugalcID], [fldexserothrID], [fldposdelID], [fldposcondisorgID], [fldposhallbehID], [fldposexciteID], [fldposgrandID], [fldpossuspID], [fldposhostID], [fldnegbluntID], [fldnegemowithID], [fldnegpoorrapID], [fldnegpasssocwithID], [fldnegdiffabsID], [fldneglackspontID], [fldnegsterthinkID], [fldsltsofasID], [fldmenhlthsatID], [fldaddhlpmenhlthID], [fldperhlthsatID], [fldaddhlpperhlthID], [fldjobsatID], [fldaddhlpjobID], [fldaccomsatID], [fldaddhlpaccomID], [fldleisactsatID], [fldaddhlpleisactID], [fldfriendsatID], [fldaddhlpfriendID], [fldpartfamsatID], [fldaddhlpfamsatID], [fldpersafesatID], [fldaddhlppersafeID], [fldmedsatID], [fldaddhlpmedID], [fldprachlpsatID], [fldaddhlpID], [fldmenhlthconsultsatID], [fldaddhlpmenhlthconsultID], [fldqprbtrmyslfID], [fldqprchncsID], [fldqprposrelID], [fldqprprtsocID], [fldqprassertID], [fldqprlifepurpID], [fldqprexpchngbtrID], [fldqprpastevntsID], [fldqprmotbtrID], [fldqprpostngsID], [fldqprundrstndmyslfID], [fldqprchrgoflifeID], [fldqprengwlifeID], [fldqprcontmylifeID], [fldqprtimeienjyID], [fldEIPdate0], [fldEIPdrop0ID], [fldEIPdate1], [fldEIPdrop1ID], [fldEIPdate2], [fldEIPdrop2ID], [fldEIPdate3], [fldEIPdrop3ID], [fldEIPdate4], [fldEIPdrop4ID], [fldEIPdate5], [fldEIPdrop5ID], [fldEIPdate6], [fldEIPdrop6ID], [fldEIPdate7], [fldEIPdrop7ID], [fldEIPdate8], [fldEIPdrop8ID], [fldEIPdate9], [fldEIPdrop9ID], [fldEIPdate10], [fldEIPdrop10ID], [fldEIPdate11], [fldEIPdrop11ID], [fldEIPdate12], [fldEIPdrop12ID], [fldEIPdate13], [fldEIPdrop13ID], [fldEIPdate14], [fldEIPdrop14ID], [fldEIPdate15], [fldEIPdrop15ID], [fldEIPdate16], [fldEIPdrop16ID], [flgAssessType], [flgCAARMS], [flgcomorbchk], [flgcomorbothr], [flgintcodedets], [flgExtServ], [flgDIALOG0], [flgDIALOG1], [flgDIALOG2], [flgDIALOG3], [flgDIALOG4], [flgDIALOG5], [flgDIALOG6], [flgDIALOG7], [flgDIALOG8], [flgDIALOG9], [flgDIALOG10], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartTime]
						 FROM mrr_tbl.CNS_udfEISCommonAssessmentv2
						 EXCEPT
						 SELECT 'In Mirror' AS DiscrepancySource
							   ,[EISCommonAssessmentv2_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldCAARMSID], [fldCAARMSrateID], [fldpatstatID], [fldpsydate1], [fldpsydate2], [fldpsydate3], [fldpsydate4], [fldcomorbradioID], [fldautisticchkID], [fldepilepsychkID], [fldothrchkID], [fldheadinjchkID], [fldThyroidchkID], [flddiabeteschkID], [fldsubmisckID], [fldexserAMHTID], [fldexseryouthoffID], [fldexserCAMHSID], [fldexserinpatwardID], [fldexserdrugalcID], [fldexserothrID], [fldposdelID], [fldposcondisorgID], [fldposhallbehID], [fldposexciteID], [fldposgrandID], [fldpossuspID], [fldposhostID], [fldnegbluntID], [fldnegemowithID], [fldnegpoorrapID], [fldnegpasssocwithID], [fldnegdiffabsID], [fldneglackspontID], [fldnegsterthinkID], [fldsltsofasID], [fldmenhlthsatID], [fldaddhlpmenhlthID], [fldperhlthsatID], [fldaddhlpperhlthID], [fldjobsatID], [fldaddhlpjobID], [fldaccomsatID], [fldaddhlpaccomID], [fldleisactsatID], [fldaddhlpleisactID], [fldfriendsatID], [fldaddhlpfriendID], [fldpartfamsatID], [fldaddhlpfamsatID], [fldpersafesatID], [fldaddhlppersafeID], [fldmedsatID], [fldaddhlpmedID], [fldprachlpsatID], [fldaddhlpID], [fldmenhlthconsultsatID], [fldaddhlpmenhlthconsultID], [fldqprbtrmyslfID], [fldqprchncsID], [fldqprposrelID], [fldqprprtsocID], [fldqprassertID], [fldqprlifepurpID], [fldqprexpchngbtrID], [fldqprpastevntsID], [fldqprmotbtrID], [fldqprpostngsID], [fldqprundrstndmyslfID], [fldqprchrgoflifeID], [fldqprengwlifeID], [fldqprcontmylifeID], [fldqprtimeienjyID], [fldEIPdate0], [fldEIPdrop0ID], [fldEIPdate1], [fldEIPdrop1ID], [fldEIPdate2], [fldEIPdrop2ID], [fldEIPdate3], [fldEIPdrop3ID], [fldEIPdate4], [fldEIPdrop4ID], [fldEIPdate5], [fldEIPdrop5ID], [fldEIPdate6], [fldEIPdrop6ID], [fldEIPdate7], [fldEIPdrop7ID], [fldEIPdate8], [fldEIPdrop8ID], [fldEIPdate9], [fldEIPdrop9ID], [fldEIPdate10], [fldEIPdrop10ID], [fldEIPdate11], [fldEIPdrop11ID], [fldEIPdate12], [fldEIPdrop12ID], [fldEIPdate13], [fldEIPdrop13ID], [fldEIPdate14], [fldEIPdrop14ID], [fldEIPdate15], [fldEIPdrop15ID], [fldEIPdate16], [fldEIPdrop16ID], [flgAssessType], [flgCAARMS], [flgcomorbchk], [flgcomorbothr], [flgintcodedets], [flgExtServ], [flgDIALOG0], [flgDIALOG1], [flgDIALOG2], [flgDIALOG3], [flgDIALOG4], [flgDIALOG5], [flgDIALOG6], [flgDIALOG7], [flgDIALOG8], [flgDIALOG9], [flgDIALOG10], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartTime]
						 FROM [MHOXCARESQL01\MHOXCARESQL01].[CareNotesOxfordLive].[dbo].[udfEISCommonAssessmentv2])
						UNION ALL
						(SELECT 'In Source' AS DiscrepancySource
							   ,[EISCommonAssessmentv2_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldCAARMSID], [fldCAARMSrateID], [fldpatstatID], [fldpsydate1], [fldpsydate2], [fldpsydate3], [fldpsydate4], [fldcomorbradioID], [fldautisticchkID], [fldepilepsychkID], [fldothrchkID], [fldheadinjchkID], [fldThyroidchkID], [flddiabeteschkID], [fldsubmisckID], [fldexserAMHTID], [fldexseryouthoffID], [fldexserCAMHSID], [fldexserinpatwardID], [fldexserdrugalcID], [fldexserothrID], [fldposdelID], [fldposcondisorgID], [fldposhallbehID], [fldposexciteID], [fldposgrandID], [fldpossuspID], [fldposhostID], [fldnegbluntID], [fldnegemowithID], [fldnegpoorrapID], [fldnegpasssocwithID], [fldnegdiffabsID], [fldneglackspontID], [fldnegsterthinkID], [fldsltsofasID], [fldmenhlthsatID], [fldaddhlpmenhlthID], [fldperhlthsatID], [fldaddhlpperhlthID], [fldjobsatID], [fldaddhlpjobID], [fldaccomsatID], [fldaddhlpaccomID], [fldleisactsatID], [fldaddhlpleisactID], [fldfriendsatID], [fldaddhlpfriendID], [fldpartfamsatID], [fldaddhlpfamsatID], [fldpersafesatID], [fldaddhlppersafeID], [fldmedsatID], [fldaddhlpmedID], [fldprachlpsatID], [fldaddhlpID], [fldmenhlthconsultsatID], [fldaddhlpmenhlthconsultID], [fldqprbtrmyslfID], [fldqprchncsID], [fldqprposrelID], [fldqprprtsocID], [fldqprassertID], [fldqprlifepurpID], [fldqprexpchngbtrID], [fldqprpastevntsID], [fldqprmotbtrID], [fldqprpostngsID], [fldqprundrstndmyslfID], [fldqprchrgoflifeID], [fldqprengwlifeID], [fldqprcontmylifeID], [fldqprtimeienjyID], [fldEIPdate0], [fldEIPdrop0ID], [fldEIPdate1], [fldEIPdrop1ID], [fldEIPdate2], [fldEIPdrop2ID], [fldEIPdate3], [fldEIPdrop3ID], [fldEIPdate4], [fldEIPdrop4ID], [fldEIPdate5], [fldEIPdrop5ID], [fldEIPdate6], [fldEIPdrop6ID], [fldEIPdate7], [fldEIPdrop7ID], [fldEIPdate8], [fldEIPdrop8ID], [fldEIPdate9], [fldEIPdrop9ID], [fldEIPdate10], [fldEIPdrop10ID], [fldEIPdate11], [fldEIPdrop11ID], [fldEIPdate12], [fldEIPdrop12ID], [fldEIPdate13], [fldEIPdrop13ID], [fldEIPdate14], [fldEIPdrop14ID], [fldEIPdate15], [fldEIPdrop15ID], [fldEIPdate16], [fldEIPdrop16ID], [flgAssessType], [flgCAARMS], [flgcomorbchk], [flgcomorbothr], [flgintcodedets], [flgExtServ], [flgDIALOG0], [flgDIALOG1], [flgDIALOG2], [flgDIALOG3], [flgDIALOG4], [flgDIALOG5], [flgDIALOG6], [flgDIALOG7], [flgDIALOG8], [flgDIALOG9], [flgDIALOG10], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartTime]
						 FROM [MHOXCARESQL01\MHOXCARESQL01].[CareNotesOxfordLive].[dbo].[udfEISCommonAssessmentv2]
						 EXCEPT
						 SELECT 'In Source' AS DiscrepancySource
							   ,[EISCommonAssessmentv2_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [Invalid_Date], [Invalid_Flag_ID], [Invalid_Staff_Name], [Invalid_Reason], [OriginalAuthorID], [StartDate], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldCAARMSID], [fldCAARMSrateID], [fldpatstatID], [fldpsydate1], [fldpsydate2], [fldpsydate3], [fldpsydate4], [fldcomorbradioID], [fldautisticchkID], [fldepilepsychkID], [fldothrchkID], [fldheadinjchkID], [fldThyroidchkID], [flddiabeteschkID], [fldsubmisckID], [fldexserAMHTID], [fldexseryouthoffID], [fldexserCAMHSID], [fldexserinpatwardID], [fldexserdrugalcID], [fldexserothrID], [fldposdelID], [fldposcondisorgID], [fldposhallbehID], [fldposexciteID], [fldposgrandID], [fldpossuspID], [fldposhostID], [fldnegbluntID], [fldnegemowithID], [fldnegpoorrapID], [fldnegpasssocwithID], [fldnegdiffabsID], [fldneglackspontID], [fldnegsterthinkID], [fldsltsofasID], [fldmenhlthsatID], [fldaddhlpmenhlthID], [fldperhlthsatID], [fldaddhlpperhlthID], [fldjobsatID], [fldaddhlpjobID], [fldaccomsatID], [fldaddhlpaccomID], [fldleisactsatID], [fldaddhlpleisactID], [fldfriendsatID], [fldaddhlpfriendID], [fldpartfamsatID], [fldaddhlpfamsatID], [fldpersafesatID], [fldaddhlppersafeID], [fldmedsatID], [fldaddhlpmedID], [fldprachlpsatID], [fldaddhlpID], [fldmenhlthconsultsatID], [fldaddhlpmenhlthconsultID], [fldqprbtrmyslfID], [fldqprchncsID], [fldqprposrelID], [fldqprprtsocID], [fldqprassertID], [fldqprlifepurpID], [fldqprexpchngbtrID], [fldqprpastevntsID], [fldqprmotbtrID], [fldqprpostngsID], [fldqprundrstndmyslfID], [fldqprchrgoflifeID], [fldqprengwlifeID], [fldqprcontmylifeID], [fldqprtimeienjyID], [fldEIPdate0], [fldEIPdrop0ID], [fldEIPdate1], [fldEIPdrop1ID], [fldEIPdate2], [fldEIPdrop2ID], [fldEIPdate3], [fldEIPdrop3ID], [fldEIPdate4], [fldEIPdrop4ID], [fldEIPdate5], [fldEIPdrop5ID], [fldEIPdate6], [fldEIPdrop6ID], [fldEIPdate7], [fldEIPdrop7ID], [fldEIPdate8], [fldEIPdrop8ID], [fldEIPdate9], [fldEIPdrop9ID], [fldEIPdate10], [fldEIPdrop10ID], [fldEIPdate11], [fldEIPdrop11ID], [fldEIPdate12], [fldEIPdrop12ID], [fldEIPdate13], [fldEIPdrop13ID], [fldEIPdate14], [fldEIPdrop14ID], [fldEIPdate15], [fldEIPdrop15ID], [fldEIPdate16], [fldEIPdrop16ID], [flgAssessType], [flgCAARMS], [flgcomorbchk], [flgcomorbothr], [flgintcodedets], [flgExtServ], [flgDIALOG0], [flgDIALOG1], [flgDIALOG2], [flgDIALOG3], [flgDIALOG4], [flgDIALOG5], [flgDIALOG6], [flgDIALOG7], [flgDIALOG8], [flgDIALOG9], [flgDIALOG10], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldEnteredDate], [fldEnteredTime], [StartTime]
						 FROM mrr_tbl.CNS_udfEISCommonAssessmentv2))
					SELECT @DiscrepacyCount = COUNT(*)
					FROM GatherDiscrepancies;


					IF @DiscrepacyCount > 0
						THROW 51000, 'Mirror table mrr_tbl.CNS_udfEISCommonAssessmentv2 has discrepancies when compared to its source table.', 1;

				END;
				
GO
