SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

-- To extract all Children who have had a 9-12 Month Review completed
-- This is found in the Child Health Module
-- The Row_NUmber SQL is to order the 9-12 Month Review by whether it has been completed and the date to make
-- sure only those completed and the first one of these for each child is extracted


CREATE  PROCEDURE  [hl7].[usp_Populate_CNS_InterimDischargeSummary]
AS

/*
test Script:

EXEC [HL7].[usp_Populate_CNS_InterimDischargeSummary]


SELECT * FROM [[dbo].[tblHL7_TableTracker]

*/


DECLARE @MaxDate DATETIME = ISNULL((SELECT MAX(MaxUpdateTime) FROM [dbo].[tblHL7_TableTracker] WHERE TABLE_NAME = 'CNS_tblInterimDischargeSummary' AND SourceSystem = 'CNS'),'1 Jan 1900')
PRINT @MaxDate


DECLARE @LoadId int = ISNULL((SELECT MAX(LoadID) FROM [dbo].[tblHL7_TableTracker] WHERE TABLE_NAME = 'CNS_tblInterimDischargeSummary' AND SourceSystem = 'CNS'),0)
SET @LoadId = @LoadId + 1


BEGIN TRY

	BEGIN TRANSACTION;


		TRUNCATE TABLE [hl7].[CNS_tblInterimDischargeSummary]

		--DELETE FROM ds
		--FROM [hl7].[CNS_tblInterimDischargeSummary] ds
		--INNER JOIN [dbo].[tblHL7_SendTracker_InterimDischargeSummary] tr
		--	ON ds.[IntegratedDocumentID] = tr.[IntegratedDocumentID]
		--WHERE ISNULL(tr.Target_System_Doc_ID,'')  != ''

		--Copt new and failed to send Data
		INSERT INTO [hl7].[CNS_tblInterimDischargeSummary](
			[MsgIssueDate]
			  ,[sourceSystem]
			  ,[MsgSender]
			  ,[MsgRecipient]
			  ,[IdType]
			  ,[IdValue]
			  ,[PersonNameType]
			  ,[Gender_ID]
			  ,[RecpHcpCode]
			  ,[RecpHcpDescription]
			  ,[RecpPracticeCode]
			  ,[RecpPracticeName]
			  ,[SendHCPCode]
			  ,[SendHCPDesc]
			  ,[SendDepartment]
			  ,[OrgCode]
			  ,[OrgName]
			  ,[IntegratedDocumentID]
			  ,[ReportType]
			  ,[EventDate]
			  ,[EventDateEnd]
			  ,[DocCreationDate]
			  ,[FileExtension]
			  ,[Attachment_File_Name]
			  ,[CompletedByStaffDesc]
			  ,[NHS_Number]
			  ,[Forename]
			  ,[Surname]
			  ,[Date_of_Birth]
			  ,[Age]
			  ,[Address1]
			  ,[Address2]
			  ,[Address3]
			  ,[Address4]
			  ,[Address5]
			  ,[Post_code]
			  ,[GP_Name]
			  ,[Practice_Name]
			  ,[Practice_Address1]
			  ,[Practice_Address2]
			  ,[Practice_Address3]
			  ,[Practice_Address4]
			  ,[Practice_Address5]
			  ,[Practice_Postcode]
			  ,[fldDisLoc]
			  ,[fldDisLocTele]
			  ,[fldConsult]
			  ,[fldCareCoord]
			  ,[fldDateAdm]
			  ,[fldDateDis]
			  ,[fldMHAStat]
			  ,[StartDate]
			  ,[DisIssued]
			  ,[ohftStaff]
			  ,[CN_Doc_ID]
			  ,[Staff_Name]
			  ,[OHFTDischargeNotificationSummaryV3_ID]
			  ,[Confirm_Flag_ID]
			  ,[fldDiagnosis]
			  ,[fldSecDiagnosis0]
			  ,[fldSecDiagnosis1]
			  ,[fldSecDiagnosis2]
			  ,[fldSecDiagnosis3]
			  ,[fldSecDiagnosis4]
			  ,[fldBriefSumm]
			  ,[fldDisPlan]
			  ,[fldDisComments]
			  ,[fldDateNotIss]
			  ,[SevenDayStaff]
			  ,[fld7DayFollowComm]
			  ,[MedName1]
			  ,[MedName2]
			  ,[MedName3]
			  ,[MedName4]
			  ,[MedName5]
			  ,[MedName6]
			  ,[MedName7]
			  ,[MedName8]
			  ,[MedName9]
			  ,[MedName10]
			  ,[MedName11]
			  ,[MedName12]
			  ,[MedName13]
			  ,[MedName14]
			  ,[MedName15]
			  ,[MedName16]
			  ,[MedName17]
			  ,[MedName18]
			  ,[MedName19]
			  ,[MedName20]
			  ,[MedName21]
			  ,[MedName22]
			  ,[MedName23]
			  ,[MedName24]
			  ,[MedName25]
			  ,[flddose1]
			  ,[flddose2]
			  ,[flddose3]
			  ,[flddose4]
			  ,[flddose5]
			  ,[flddose6]
			  ,[flddose7]
			  ,[flddose8]
			  ,[flddose9]
			  ,[flddose10]
			  ,[flddose11]
			  ,[flddose12]
			  ,[flddose13]
			  ,[flddose14]
			  ,[flddose15]
			  ,[flddose16]
			  ,[flddose17]
			  ,[flddose18]
			  ,[flddose19]
			  ,[flddose20]
			  ,[flddose21]
			  ,[flddose22]
			  ,[flddose23]
			  ,[flddose24]
			  ,[flddose25]
			  ,[routeDesc1]
			  ,[routeDesc2]
			  ,[routeDesc3]
			  ,[routeDesc4]
			  ,[routeDesc5]
			  ,[routeDesc6]
			  ,[routeDesc7]
			  ,[routeDesc8]
			  ,[routeDesc9]
			  ,[routeDesc10]
			  ,[routeDesc11]
			  ,[routeDesc12]
			  ,[routeDesc13]
			  ,[routeDesc14]
			  ,[routeDesc15]
			  ,[routeDesc16]
			  ,[routeDesc17]
			  ,[routeDesc18]
			  ,[routeDesc19]
			  ,[routeDesc20]
			  ,[routeDesc21]
			  ,[routeDesc22]
			  ,[routeDesc23]
			  ,[routeDesc24]
			  ,[routeDesc25]
			  ,[fldcomm1]
			  ,[fldcomm2]
			  ,[fldcomm3]
			  ,[fldcomm4]
			  ,[fldcomm5]
			  ,[fldcomm6]
			  ,[fldcomm7]
			  ,[fldcomm8]
			  ,[fldcomm9]
			  ,[fldcomm10]
			  ,[fldcomm11]
			  ,[fldcomm12]
			  ,[fldcomm13]
			  ,[fldcomm14]
			  ,[fldcomm15]
			  ,[fldcomm16]
			  ,[fldcomm17]
			  ,[fldcomm18]
			  ,[fldcomm19]
			  ,[fldcomm20]
			  ,[fldcomm21]
			  ,[fldcomm22]
			  ,[fldcomm23]
			  ,[fldcomm24]
			  ,[fldcomm25]
			  ,[prescDesc1]
			  ,[prescDesc2]
			  ,[prescDesc3]
			  ,[prescDesc4]
			  ,[prescDesc5]
			  ,[prescDesc6]
			  ,[prescDesc7]
			  ,[prescDesc8]
			  ,[prescDesc9]
			  ,[prescDesc10]
			  ,[prescDesc11]
			  ,[prescDesc12]
			  ,[prescDesc13]
			  ,[prescDesc14]
			  ,[prescDesc15]
			  ,[prescDesc16]
			  ,[prescDesc17]
			  ,[prescDesc18]
			  ,[prescDesc19]
			  ,[prescDesc20]
			  ,[prescDesc21]
			  ,[prescDesc22]
			  ,[prescDesc23]
			  ,[prescDesc24]
			  ,[prescDesc25]
			  ,[CompletedBy]
			  ,[fld7DayFollowYNID]
			  ,[fld7DayFollowID]
			  ,[Confirm_Date]
			  ,[SevenDayFollowupStaff]
			  ,[Create_Dttm]
		)
		SELECT [MsgIssueDate]
			  ,[sourceSystem]
			  ,[MsgSender]
			  ,[MsgRecipient]
			  ,[IdType]
			  ,[IdValue]
			  ,[PersonNameType]
			  ,[Gender_ID]
			  ,[RecpHcpCode]
			  ,[RecpHcpDescription]
			  ,[RecpPracticeCode]
			  ,[RecpPracticeName]
			  ,[SendHCPCode]
			  ,[SendHCPDesc]
			  ,[SendDepartment]
			  ,[OrgCode]
			  ,[OrgName]
			  ,[IntegratedDocumentID]
			  ,[ReportType]
			  ,[EventDate]
			  ,[EventDateEnd]
			  ,[DocCreationDate]
			  ,[FileExtension]
			  ,[Attachment_File_Name]
			  ,[CompletedByStaffDesc]
			  ,[NHS_Number]
			  ,[Forename]
			  ,[Surname]
			  ,[Date_of_Birth]
			  ,[Age]
			  ,[Address1]
			  ,[Address2]
			  ,[Address3]
			  ,[Address4]
			  ,[Address5]
			  ,[Post_code]
			  ,[GP_Name]
			  ,[Practice_Name]
			  ,[Practice_Address1]
			  ,[Practice_Address2]
			  ,[Practice_Address3]
			  ,[Practice_Address4]
			  ,[Practice_Address5]
			  ,[Practice_Postcode]
			  ,[fldDisLoc]
			  ,[fldDisLocTele]
			  ,[fldConsult]
			  ,[fldCareCoord]
			  ,[fldDateAdm]
			  ,[fldDateDis]
			  ,[fldMHAStat]
			  ,[StartDate]
			  ,[DisIssued]
			  ,[ohftStaff]
			  ,[CN_Doc_ID]
			  ,[Staff_Name]
			  ,[OHFTDischargeNotificationSummaryV3_ID]
			  ,[Confirm_Flag_ID]
			  ,[fldDiagnosis]
			  ,[fldSecDiagnosis0]
			  ,[fldSecDiagnosis1]
			  ,[fldSecDiagnosis2]
			  ,[fldSecDiagnosis3]
			  ,[fldSecDiagnosis4]
			  ,[fldBriefSumm]
			  ,[fldDisPlan]
			  ,[fldDisComments]
			  ,[fldDateNotIss]
			  ,[SevenDayStaff]
			  ,[fld7DayFollowComm]
			  ,[MedName1]
			  ,[MedName2]
			  ,[MedName3]
			  ,[MedName4]
			  ,[MedName5]
			  ,[MedName6]
			  ,[MedName7]
			  ,[MedName8]
			  ,[MedName9]
			  ,[MedName10]
			  ,[MedName11]
			  ,[MedName12]
			  ,[MedName13]
			  ,[MedName14]
			  ,[MedName15]
			  ,[MedName16]
			  ,[MedName17]
			  ,[MedName18]
			  ,[MedName19]
			  ,[MedName20]
			  ,[MedName21]
			  ,[MedName22]
			  ,[MedName23]
			  ,[MedName24]
			  ,[MedName25]
			  ,[flddose1]
			  ,[flddose2]
			  ,[flddose3]
			  ,[flddose4]
			  ,[flddose5]
			  ,[flddose6]
			  ,[flddose7]
			  ,[flddose8]
			  ,[flddose9]
			  ,[flddose10]
			  ,[flddose11]
			  ,[flddose12]
			  ,[flddose13]
			  ,[flddose14]
			  ,[flddose15]
			  ,[flddose16]
			  ,[flddose17]
			  ,[flddose18]
			  ,[flddose19]
			  ,[flddose20]
			  ,[flddose21]
			  ,[flddose22]
			  ,[flddose23]
			  ,[flddose24]
			  ,[flddose25]
			  ,[routeDesc1]
			  ,[routeDesc2]
			  ,[routeDesc3]
			  ,[routeDesc4]
			  ,[routeDesc5]
			  ,[routeDesc6]
			  ,[routeDesc7]
			  ,[routeDesc8]
			  ,[routeDesc9]
			  ,[routeDesc10]
			  ,[routeDesc11]
			  ,[routeDesc12]
			  ,[routeDesc13]
			  ,[routeDesc14]
			  ,[routeDesc15]
			  ,[routeDesc16]
			  ,[routeDesc17]
			  ,[routeDesc18]
			  ,[routeDesc19]
			  ,[routeDesc20]
			  ,[routeDesc21]
			  ,[routeDesc22]
			  ,[routeDesc23]
			  ,[routeDesc24]
			  ,[routeDesc25]
			  ,[fldcomm1]
			  ,[fldcomm2]
			  ,[fldcomm3]
			  ,[fldcomm4]
			  ,[fldcomm5]
			  ,[fldcomm6]
			  ,[fldcomm7]
			  ,[fldcomm8]
			  ,[fldcomm9]
			  ,[fldcomm10]
			  ,[fldcomm11]
			  ,[fldcomm12]
			  ,[fldcomm13]
			  ,[fldcomm14]
			  ,[fldcomm15]
			  ,[fldcomm16]
			  ,[fldcomm17]
			  ,[fldcomm18]
			  ,[fldcomm19]
			  ,[fldcomm20]
			  ,[fldcomm21]
			  ,[fldcomm22]
			  ,[fldcomm23]
			  ,[fldcomm24]
			  ,[fldcomm25]
			  ,[prescDesc1]
			  ,[prescDesc2]
			  ,[prescDesc3]
			  ,[prescDesc4]
			  ,[prescDesc5]
			  ,[prescDesc6]
			  ,[prescDesc7]
			  ,[prescDesc8]
			  ,[prescDesc9]
			  ,[prescDesc10]
			  ,[prescDesc11]
			  ,[prescDesc12]
			  ,[prescDesc13]
			  ,[prescDesc14]
			  ,[prescDesc15]
			  ,[prescDesc16]
			  ,[prescDesc17]
			  ,[prescDesc18]
			  ,[prescDesc19]
			  ,[prescDesc20]
			  ,[prescDesc21]
			  ,[prescDesc22]
			  ,[prescDesc23]
			  ,[prescDesc24]
			  ,[prescDesc25]
			  ,[CompletedBy]
			  ,[fld7DayFollowYNID]
			  ,[fld7DayFollowID]
			  ,[Confirm_Date]
			  ,[SevenDayFollowupStaff]
			  ,[Create_Dttm]
		  FROM [hl7].[vwCNS_InterimDischargeSummary] ds
		  WHERE Confirm_Date > @MaxDate 
		  OR EXISTS ( SELECT 1 FROM dbo.tblHL7_SendTracker_InterimDischargeSummary st WHERE ds.[IntegratedDocumentID] = st.[IntegratedDocumentID] AND st.FailureReason <> '0')

		



		-- delete from Tracker table 
			DECLARE @newRecords INT = @@ROWCOUNT

			--SET @newRecords = (SELECT COUNT(*) FROM chis.tblCHIS_HV_Check_1_Year WHERE LoadID = @LoadId)

			IF @newRecords > 0
			BEGIN 
				INSERT INTO [dbo].[tblHL7_TableTracker] 
					VALUES 
					(	  'CNS'
						, 'CNS_tblInterimDischargeSummary'
						, getdate() 
						, ISNULL((SELECT MAX([Confirm_Date]) FROM [hl7].[CNS_tblInterimDischargeSummary] ),'1 Jan 1900')
						, @LoadId
						,@newRecords
					)
			END 

	COMMIT TRANSACTION; 

END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
		ROLLBACK TRANSACTION;
		THROW;
END CATCH

GO
