BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'DBS Load MentalHealth', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'No description available.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'OBMH\SVC_Enovacom', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Copy file', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'CmdExec', 
		@command=N'COPY \\obmh.nhs.uk\G_data\Oxfordshire\DBS\OUTBOX\DBS\Sender1\MH_DBS_IE_Extract_Final*.csv \\mhoxbit01\Extracts\DBS\DBSResponse\MH_DBS_IE_Extract_Final.csv', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DROP index', 
		@step_id=2, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'DECLARE @cnt INT = (	SELECT COUNT(*) 
			FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS
			WHERE CONSTRAINT_NAME=''PK_tblCNS_DBSTraceReturnedFile''
		)
IF @cnt > 0 
BEGIN 
	ALTER TABLE src_DBS.tblCNS_DBSTraceReturnedFile DROP CONSTRAINT PK_tblCNC_DBSTraceReturnedFile;
END 

GO

ALTER TABLE src_DBS.tblCNS_DBSTraceReturnedFile ALTER COLUMN LocalPID VARCHAR(10) NULL
GO', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Load DBS reurnd response file', 
		@step_id=3, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC [dbo].[uspDBS_Load_MentalHealth_DBSFiles]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Delete records with NULL LocalPID', 
		@step_id=4, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'
DELETE FROM src_DBS.tblCNS_DBSTraceReturnedFile
WHERE ISNULL(LocalPID,'''') = '''' ', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'CREATE Index', 
		@step_id=5, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'ALTER TABLE src_DBS.tblCNS_DBSTraceReturnedFile ALTER COLUMN LocalPID VARCHAR(10) NOT NULL
GO

ALTER TABLE src_DBS.tblCNS_DBSTraceReturnedFile ADD CONSTRAINT PK_tblCNS_DBSTraceReturnedFile PRIMARY KEY (LocalPID)
GO', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate Matching ID column', 
		@step_id=6, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'UPDATE src_DBS.tblCNS_DBSTraceReturnedFile 
SET Match_ID = 
 SOUNDEX(ISNULL(REPLACE(REPLACE(REPLACE(ISNULL(ReturnedForename,Forename) ,'' '',''''),''-'',''''),'''''''','''') ,''x'')) 
+
 SOUNDEX(ISNULL(REPLACE(REPLACE(REPLACE(ISNULL(ReturnSurname,Surname) ,'' '',''''),''-'',''''),'''''''','''') ,''x''))  
+ 
 CONVERT(varchar,ISNULL(ReturnedDOB, DOB), 106) 
+ 
 REPLACE(CONVERT(varchar,COALESCE(ReturnedPostcode, Postcode,PrevPostcode), 106),'' '','''')
+ CAST(COALESCE(ReturnedSex,Sex) AS VARCHAR(1))', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Remove " from RecordTYpe and DM13 columns', 
		@step_id=7, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'
UPDATE [src_DBS].[tblCNS_DBSTraceReturnedFile]
SET RecordType = TRIM(REPLACE(RecordType,''"'','''')),
	DM13 = TRIM(REPLACE(DM13,''"'',''''))', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:

