BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'Update MPI', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'No description available.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'OBMH\SVC_Enovacom', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Duplicated patients - Adastra', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE dbo.uspMPI_Populate_ADA_DuplicatedPatient', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Duplicated patients - Mental Health', 
		@step_id=2, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE dbo.uspMPI_Populate_CNS_DuplicatedPatient
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Duplicated patients - Community', 
		@step_id=3, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE dbo.uspMPI_Populate_CNC_DuplicatedPatient
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Mismatch NHSNumber - CNS and CNC', 
		@step_id=4, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_CNS_CNC_Mismatch_NHSNumber]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Mismatch NHSNumber - ADA and CNS', 
		@step_id=5, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_ADA_CNS_MismatMH_NHSNumber]
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Mismatch NHSNumber - ADA and CNC', 
		@step_id=6, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_ADA_CNC_Mismatch_NHSNumber]
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'DQ Issue - Populated Excluded NHSNumbers table', 
		@step_id=7, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=3, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC dbo.uspMPI_Excluded_NHSNumbers', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate stg PCMIS table', 
		@step_id=8, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_tblPCMIS_Demographics]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate stg Mental Health table', 
		@step_id=9, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_tblCNS_Demographics]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate stg Community Health table', 
		@step_id=10, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_tblCNC_Demographics]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate stg Adastra table', 
		@step_id=11, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_tblADA_Demographics]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate Integrated Latest Patient changes', 
		@step_id=12, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_IntegratedLatestPatientDemographics]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Update MPI from PCMIS', 
		@step_id=13, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_MPI_From_PCMIS]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Update MPI from Mental Health', 
		@step_id=14, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_MPI_From_MentalHealth]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Update MPI from Community Health', 
		@step_id=15, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_MPI_From_CommunityHealth]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Update MPI from Adastra', 
		@step_id=16, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXECUTE [dbo].[uspMPI_Populate_MPI_From_Adastra]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'UPDATE PDS Table Tracker with MPI max Update Dttm', 
		@step_id=17, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'UPDATE [dbo].[tblPDS_TableTracker]
SET ExtractDate = GETDATE(),
	MaxUpdateTime = (SELECT MAX([UpdatedDttm]) FROM [dbo].[tblOH_MPI])
WHERE TABLE_NAME = ''tblOH_MPI''', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'UPDATE MPI PatientIDs from Community Health', 
		@step_id=18, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'
--======================
-- RESET the CNC IDs
--======================
UPDATE tmp
SET CH_Patient_ID = NULL
FROM dbo.tblOH_MPI tmp


--======================
-- Populate CNC Ids
--======================
UPDATE tmp
SET CH_Patient_ID = CNC.Patient_ID
FROM dbo.tblOH_MPI tmp
LEFT JOIN mrr.CNC_tblPatient  CNC
	ON tmp.NHS_Number = REPLACE(REPLACE(CNC.NHS_Number,'' '',''''),''-'','''')

', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'UPDATE MPI PatientIDs from Mental Health', 
		@step_id=19, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'--======================
-- RESET the CNS IDs
--======================
UPDATE tmp
SET MH_Patient_ID = NULL
FROM dbo.tblOH_MPI tmp


--======================
-- Populate CNS Ids
--======================
UPDATE tmp
SET MH_Patient_ID = CNS.Patient_ID
FROM dbo.tblOH_MPI tmp
LEFT JOIN mrr.CNS_tblPatient  CNS
	ON tmp.NHS_Number = REPLACE(REPLACE(CNS.NHS_Number,'' '',''''),''-'','''')
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'UPDATE MPI PatientIDs from Adastra', 
		@step_id=20, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'--======================
-- RESET the ADAIDs
--======================
UPDATE tmp
SET Adastra_Patient_ID  = NULL
FROM dbo.tblOH_MPI tmp


--======================
-- Populate ADAIds
--======================
UPDATE tmp
SET Adastra_Patient_ID = ada.PatientRef
FROM dbo.tblOH_MPI tmp
LEFT JOIN mrr.ADA_Patient  ada
	ON tmp.NHS_Number = REPLACE(REPLACE(ada.NationalCode,'' '',''''),''-'','''') COLLATE SQL_Latin1_General_CP1_CI_AS
WHERE ada.Obsolete = 0
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'UPDATE MPI PatientIDs from PCMIS', 
		@step_id=21, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'--======================
-- RESET the PCMIS IDs
--======================
UPDATE  tmp
SET  PCMIS_Patient_ID  = NULL
FROM dbo.tblOH_MPI tmp


--======================
-- Populate ADAIds
--======================

;WITH pcmis AS 
(
	SELECT PatientID,  NHSNumber, CreatedDate 
	FROM [src].[vwPCMIS_Oxon_Demographics] -- [PCMIS]. [OxonODBC].[dbo].[PatientDetails]
	WHERE LEN(NHSNumber) > 0
	UNION 
	SELECT PatientID,  NHSNumber, CreatedDate
	FROM [src].[vwPCMIS_Bucks_Demographics]  -- [PCMIS]. [BucksODBC].[dbo].[PatientDetails]
	WHERE LEN(NHSNumber) > 0
)
, pcmis_final AS 
(
	SELECT PatientID, NHSNumber,  ROW_NUMBER() OVER(PARTITION BY NHSNumber ORDER BY CreatedDate desc) AS ordr
	FROM PCMIS 
)

UPDATE tmp
SET PCMIS_Patient_ID = pcmis.PatientID
FROM dbo.tblOH_MPI tmp
LEFT JOIN pcmis_final pcmis  
	ON tmp.NHS_Number = pcmis.NHSNumber COLLATE Latin1_General_CI_AS
	AND pcmis.ordr = 1
', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Create Temporary table', 
		@step_id=22, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'IF OBJECT_ID(''dbo.tmpmpiNewData123'',''U'') IS NOT NULL
DROP TABLE dbo.tmpmpiNewData123

--Create temporary table 
SELECT MPI_ID , CH_Patient_ID, MH_Patient_ID, Adastra_Patient_ID, PCMIS_Patient_ID, UpdatedDttm
INTO dbo.tmpmpiNewData123
FROM [dbo].[tblOH_MPI]
WHERE [Sent] IS NULL

GO 

CREATE NONCLUSTERED  INDEX idx_tmpmpiNewData123_CH_Patient_ID ON dbo.tmpmpiNewData123 (CH_Patient_ID)
GO 

CREATE NONCLUSTERED INDEX idx_tmpmpiNewData123_MH_Patient_ID ON dbo.tmpmpiNewData123 (MH_Patient_ID)
GO 

CREATE NONCLUSTERED INDEX idx_tmpmpiNewData123_Adastra_Patient_ID ON dbo.tmpmpiNewData123 (Adastra_Patient_ID)
GO 

CREATE NONCLUSTERED INDEX idx_tmpmpiNewData123_PCMIS_Patient_ID ON dbo.tmpmpiNewData123 (PCMIS_Patient_ID)
GO', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate MPI Next of Kin', 
		@step_id=23, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC [dbo].[uspMPI_Populate_MPI_NextOfKin]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Populate MPI Telephone Details', 
		@step_id=24, 
		@cmdexec_success_code=0, 
		@on_success_action=3, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC [dbo].[uspMPI_Populate_MPI_TelephoneDetails]', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Drop Temporary table', 
		@step_id=25, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=4, 
		@on_fail_step_id=26, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'	-- Drop Temporary Table
IF OBJECT_ID(''dbo.tmpmpiNewData123'',''U'') IS NOT NULL
DROP TABLE dbo.tmpmpiNewData123', 
		@database_name=N'PersistentDataStore', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'Send email on failure', 
		@step_id=26, 
		@cmdexec_success_code=0, 
		@on_success_action=2, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'DECLARE @tableHTML  NVARCHAR(MAX) ;  

SET @tableHTML =  ''Dear Integration Engine Admin,
				<br></br>
				<b>The Master Patient Index (MPI) update  job has failed.</b>
				''

EXEC msdb.dbo.sp_send_dbmail 
	@profile_name = ''Integration Engine Data Load'',
	@recipients= ''IEDev@oxfordhealth.nhs.uk'',  
	@subject = ''Master Patient Index (MPI) update on MHOXBIT01 has faild'',  
	@body = @tableHTML,  
	@body_format = ''HTML'' ;', 
		@database_name=N'master', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'Every 2 Hours', 
		@enabled=1, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=8, 
		@freq_subday_interval=2, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=0, 
		@active_start_date=20190412, 
		@active_end_date=99991231, 
		@active_start_time=14000, 
		@active_end_time=235959, 
		@schedule_uid=N'b24d2327-3b90-4ea4-8248-28a8e764590b'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'Every 4 Hours', 
		@enabled=0, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=8, 
		@freq_subday_interval=4, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=0, 
		@active_start_date=20190305, 
		@active_end_date=99991231, 
		@active_start_time=51000, 
		@active_end_time=235959, 
		@schedule_uid=N'd76d2fbc-bce9-448f-b694-951714a847c1'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:

