SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [HIE_CNS].[tblCNS_RiskPlans](
	[RiskPlanID] [varchar](20) COLLATE Latin1_General_CI_AS NOT NULL,
	[RiskAssessmentID] [varchar](20) COLLATE Latin1_General_CI_AS NOT NULL,
	[PatientID] [varchar](20) COLLATE Latin1_General_CI_AS NOT NULL,
	[UpdatedDate] [varchar](23) COLLATE Latin1_General_CI_AS NULL,
	[DateEntered] [varchar](23) COLLATE Latin1_General_CI_AS NULL,
	[Field1Description] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[Field1Value] [varchar](3000) COLLATE Latin1_General_CI_AS NULL,
	[Deleted] [int] NULL,
	[ContainsInvalidChar] [bit] NULL,
	[LoadID] [int] NULL
) ON [PRIMARY]

GO
