SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[tblRefODS_GP_PRACTICE](
	[ORGANISATION_CODE] [varchar](10) COLLATE Latin1_General_CI_AS NOT NULL,
	[NAME] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[NATIONAL_GROUPING] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[HIGH_LEVEL_HEALTH_GEOGRAPHY] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ADDRESS_LINE_1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ADDRESS_LINE_2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ADDRESS_LINE_3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ADDRESS_LINE_4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ADDRESS_LINE_5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[POSTCODE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OPEN_DATE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[CLOSE_DATE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[STATUS_CODE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[ORGANISATION_SUB-TYPE_CODE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PARENT_ORGANISATION_CODE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[JOIN_PARENT_DATE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[LEFT_PARENT_DATE] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[CONTACT_TELEPHONE_NUMBER] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[AMENDED_RECORD_INDICATOR] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PRACTICE_TYPE] [varchar](255) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]

GO
