SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [mrr].[ADA_Case] AS SELECT [CaseRef], [EditDate], [ServiceRef], [OrganisationGroupRef], [CurrentLocationRef], [PatientRef], [ProviderRef], [CaseNo], [ActiveDate], [EntryDate], [ContactPhone], [CurrentLocationPhone], [Forename], [Surname], [SurnamePrefix], [Maiden], [MaidenPrefix], [CaseTypeRef], [CallerRelationshipRef], [CallerName], [CallerPhone], [CallerExtn], [ProviderGroupRef], [Summary], [BookedDate], [ProviderAdditionalText], [InsuranceType], [InsuranceSource], [InsuranceCompanyRef], [InsuranceNumber], [LocationRef], [FinalOutcomeRef], [Cancelled], [Testcall], [PatientAuditRef], [SpecialismRef], [DutyStationRef], [CurrentLocationExpiry], [ProviderGroupAdditionalText], [RegistrationTypeRef], [Initials], [Confidential], [MultipleCallMasterCaseRef], [CoverRef], [InvoiceAddressRef], [ActivePerformanceManagementRef], [SpecialismTypeRef], [PassProviderRef], [RequiresUserAcknowledgement], [UserAcknowledged], [AcknowledgementMessageRef], [LastEditByUserRef], [ProviderType], [WalkIn], [AlertAcknowledgementDate], [CaseTagRef], [NoteRematchRequired], [SensitiveCase], [CurrentLocationPhoneExtn], [ContactPhoneExtn], [NationalProviderCode], [NationalProviderGroupCode], [InsuranceStartDate], [InsuranceEndDate], [NationalNumberStatus], [FutureCase], [ServiceVisibility], [OtherServiceVisibility], [CallerPhonePrefix], [ContactPhonePrefix], [CurrentLocationPhonePrefix], [NationalRepeatCallerStatus], [SequenceNumber], [UpdateReference] FROM [Mirror].[mrr_tbl].[ADA_Case];
GO
