SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [mrr].[CNS_udfMHAssessmentV9] AS SELECT [MHAssessmentV9_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [OriginalAuthorID], [fldEnteredDate], [fldEnteredTime], [StartDate], [StartTime], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [fldServiceSettingID], [fldGenAssessPresSit], [fldGenAssessHistComp], [fldGenAssessPastMedHist], [fldGenAssessCurrMeds], [fldGenAssessPastPsycHist], [fldGenAssessPersHist], [fldGenAssessFamHist], [fldGenAssessFrsicHist], [fldGenAssessSocCirc], [fldAlcDrugUsage], [fldGenAssessSpiritNeeds], [fldGenAssessIsACarer], [fldGenAssessPreMorbid], [fldSafeguardingStatusID], [fldDependentsID], [fldDependentsDetails], [fldGenAssessCapcityAtTime], [fldGenAssessAppearance], [fldGenAssessBehaviour], [fldGenAssessSpeech], [fldGenAssessMood], [fldGenAssessThoughts], [fldGenAssessPerception], [fldGenAssessCognition], [fldGenAssessInsight], [fldEatingBehaviours], [fldSchool], [fldEngagement], [fldDevHistory], [fldObsBehaviour], [fldManagingNutritionID], [fldManagingNutritionDetails], [fldPersonalHygieneID], [fldPersonalHygieneDetails], [fldToiletNeedsID], [fldToiletNeedsDetails], [fldAppropriateClothID], [fldAppropriateClothDetails], [fldAdultsHomeID], [fldAdultsHomeDetails], [fldHomeEnvironmentID], [fldHomeEnvironmentDetails], [fldOtherPersonalRelationshipsID], [fldOtherPersonalRelationshipsDetails], [fldAccessAndEngageID], [fldAccessAndEngageDetails], [fldFacilitiesOrServicesID], [fldFacilitiesOrServicesDetails], [fldCaringResponsibilitiesID], [fldCaringResponsibilitiesDetails], [fldPsychoTherapiesNeededID], [fldPsychoTherapiesNeededDetails], [fldPresenting], [fldPrecipitating], [fldPredisposing], [fldPerpetuating], [fldProtective], [fldAnnualHealthCheckID], [fldAnnualHealthCheckDetails], [fldHospActionPlanID], [fldHospActionPlanDetails], [fldHospPassportID], [fldHospPassportDetails], [fldEyeTestID], [fldEyeTestDetails], [fldDentalCheckUpID], [fldDentalCheckUpDetails], [fldHealthScreeningID], [fldHealthScreeningDetails], [fldCommunication], [fldMobilityFalls], [fldOccupation], [fldEatingAndDrinking], [fldSleep], [fldEpilepsyID], [fldChkPhysicalHealthID], [fldChkMentalHealthID], [fldChkForensicsID], [fldChkEpilepsyID], [fldChkChallengingBehaviourID], [fldChkDementiaID], [fldChkAutismID], [fldMaternityObstetic], [fldCurrentlyPregnantID], [fldDueDate], [fldPrevPregnancies], [fldPregnancyAndDeliveryDetails], [fldRelationshipUnbornChild], [fldChkPresentingID], [fldChkEstrangementID], [fldChkSuddenID], [fldChkPreviousID], [fldChkViolentID], [fldChkHarmID], [fldThirdPartyInfo], [fldMedChangesID], [fldMedChangesFurtherDetails], [fldGPActionsID], [fldGPActionsFurtherDetails], [fldClinicalReviewID], [fldClinicalReviewFurtherDetails], [fldAdditionalPlansID], [fldAdditionalPlansFurtherDetails], [fldContactedByResearchID], [fldAssessmentLetterID], [fldReceiveCopyID], [flgChkReplanned], [flgChkSaved], [flgExistingForm], [flgValidParent], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [fldChkAbsconsionID] FROM [Mirror].[mrr_tbl].[CNS_udfMHAssessmentV9];
GO
