SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [mrr].[CNS_udfOHFTGENRiskAssessmentv3] AS SELECT [OHFTGENRiskAssessmentv3_ID], [Patient_ID], [Confirm_Flag_ID], [Confirm_Date], [Confirm_Time], [Confirm_Staff_Name], [Confirm_Staff_Job_Title], [OriginalAuthorID], [aRole], [StartDate], [EndDate], [fldRiskAssessSlfHrmID], [fldRiskIdCommentSlfHrm], [fldRiskUnableCommentSlfHrm], [fldRiskAssessSuicideID], [fldRiskIdCommentSuicide], [fldRiskUnableCommentSuicide], [fldRiskAssessSlfNgtID], [fldRiskIdCommentSlfNgt], [fldRiskUnableCommentSlfNgt], [fldRiskAssessHthFallsID], [fldRiskIdCommentHthFalls], [fldRiskUnableCommentHthFalls], [fldRiskAssessMUsfMedID], [fldRiskIdCommentMUsfMed], [fldRiskUnableCommentMUsfMed], [fldRiskAssessSubMisID], [fldRiskIdCommentSubMis], [fldRiskUnableCommentSubMis], [fldRiskAssessActHrmID], [fldRiskIdCommentActHrm], [fldRiskUnableCommentActHrm], [fldRiskAssessDisengID], [fldRiskIdCommentDiseng], [fldRiskUnableCommentDiseng], [fldRiskAssessRskFOtrID], [fldRiskIdCommentRskFOtr], [fldRiskUnableCommentRskFOtr], [fldRiskAssessAggVioID], [fldRiskIdCommentAggVio], [fldRiskUnableCommentAggVio], [fldRiskAssessFireSetID], [fldRiskIdCommentFireSet], [fldRiskUnableCommentFireSet], [fldRiskAssessSexOffID], [fldRiskIdCommentSexOff], [fldRiskUnableCommentSexOff], [fldRiskAssessRskTOtrID], [fldRiskIdCommentRskTOtr], [fldRiskUnableCommentRskTOtr], [fldRiskAssessRskCdnID], [fldRiskIdCommentRskCdn], [fldRiskUnableCommentRskCdn], [fldRiskAssessDmgPrpID], [fldRiskIdCommentDmgPrp], [fldRiskUnableCommentDmgPrp], [fldRiskAssessMAPPAID], [fldRiskIdCommentMAPPA], [fldRiskUnableCommentMAPPA], [fldRiskAssessULawRstID], [fldRiskIdCommentULawRst], [fldRiskUnableCommentULawRst], [fldRiskAssessAsbEscID], [fldRiskIdCommentAsbEsc], [fldRiskUnableCommentAsbEsc], [fldRiskAssessCPPID], [fldRiskIdCommentCPP], [fldRiskUnableCommentCPP], [RiskSummary], [ReplanRequested], [DocumentGroupIdentifier], [PreviousCNObjectID], [User_Created], [Create_Dttm], [User_Updated], [Updated_Dttm], [StartTime], [fldRefSocCareID], [fldRefSocDate], [fldRefReasonID], [fldRefReasonComm], [fldRiskAssessLACID], [fldRiskIdCommentLAC], [fldRiskUnableCommentLAC], [flgchkChildRisk], [flgchkSocialCare], [flgchkSocialCareComm], [flgchkendborder], [flgchkGen0], [flgchkGen1], [flgchkGen2], [flgchkGen3], [flgchkGen4], [flgchkGen5], [flgchkGen6], [flgchkGen7], [flgchkGen8], [flgchkGen9], [flgchkGen10], [flgchkGen11], [flgchkGen12], [flgchkGen13], [flgchkGen14], [flgchkGen15], [flgchkGen16], [flgchkGen17], [flgchkGen18], [flgchkGen19], [fldEnteredDate], [fldEnteredTime], [fldRefSocCareComm] FROM [Mirror].[mrr_tbl].[CNS_udfOHFTGENRiskAssessmentv3];
GO
