SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [hl7].[tblAttachments](
	[Attachment_ID] [int] NOT NULL,
	[Attachment_File_ID] [int] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[sourceSystem] [varchar](5) COLLATE Latin1_General_CI_AS NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[MsgSender] [varchar](11) COLLATE Latin1_General_CI_AS NOT NULL,
	[MsgRecipient] [varchar](6) COLLATE Latin1_General_CI_AS NOT NULL,
	[IdType] [varchar](3) COLLATE Latin1_General_CI_AS NOT NULL,
	[IdValue] [varchar](11) COLLATE Latin1_General_CI_AS NULL,
	[PersonNameType] [varchar](2) COLLATE Latin1_General_CI_AS NOT NULL,
	[Surname] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Forename] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Date_Of_Birth] [datetime] NULL,
	[Gender_ID] [int] NULL,
	[RecpHcpCode] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[RecpHcpDescription] [varchar](201) COLLATE Latin1_General_CI_AS NULL,
	[RecpPracticeCode] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[RecpPracticeName] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[SendHCPCode] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[SendHCPDesc] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[SendDepartment] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OrgCode] [varchar](3) COLLATE Latin1_General_CI_AS NOT NULL,
	[OrgName] [varchar](13) COLLATE Latin1_General_CI_AS NOT NULL,
	[DocumentID] [int] NULL,
	[ReportType] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[EventDate] [datetime] NULL,
	[EventDateEnd] [datetime] NULL,
	[DocCreationDate] [datetime] NOT NULL,
	[Attachment_File_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Doc_Title] [varchar](255) COLLATE Latin1_General_CI_AS NOT NULL,
	[Attachment_File_Body] [image] NULL,
	[Docman_ID] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[IntegratedDocumentID] [varchar](54) COLLATE Latin1_General_CI_AS NULL,
	[FileExtension] [varchar](5) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
