SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [src_CHIS].[tblCHIS_CPOut](
	[Previous_NHSNumber] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Date_of_Birth] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Surname] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Forename] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Gender] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Address_Line_1] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Address_Line_2] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Address_Line_3] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Address_Line_4] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Address_Line_5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Postcode] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_GP_Practice] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_CCG] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Local_Authority_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Trust_ODS_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Previous_Associated_HV_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_NHSNumber] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Date_of_Birth] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Surname] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Forename] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Gender] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Address_Line_1] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Current_Address_Line_2] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Current_Address_Line_3] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Current_Address_Line_4] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Current_Address_Line_5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Postcode] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Date_of_Address_Update] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_GP_Practice_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Date_of_GP_Practice_Registration] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_CCG_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Local_Authority] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Current_Trust_ODS_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Current_Associated_HV_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Load_Dttm] [datetime] NULL,
	[EmailSent] [bit] NULL,
	[EmailSent_Dttm] [datetime] NULL,
	[EmailSentTo] [varchar](250) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]

GO
