SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_tblInpatientEpisode](
	[Inpatient_Episode_ID] [int] NOT NULL,
	[Admission_Type_ID] [int] NULL,
	[Planned_Admission_Date] [datetime] NULL,
	[Last_Discharge_Date] [datetime] NULL,
	[Ninety_Day_Readmission_Flag_ID] [int] NULL,
	[Ninety_Day_Readmission_Status] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[MHA_Admission_Status_ID] [int] NULL,
	[Section_Start_Date] [datetime] NULL,
	[Admission_Source_ID] [int] NULL,
	[Admission_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Method_ID] [int] NULL,
	[Management_Code_ID] [int] NULL,
	[Gender_ID] [int] NULL,
	[Accomodation_ID] [int] NULL,
	[Lives_With_ID] [int] NULL,
	[Ethnicity_ID] [int] NULL,
	[Employment_ID] [int] NULL,
	[Overseas_Visitor_Status_ID] [int] NULL,
	[Valuables_In_Safe_Keeping_Flag_ID] [int] NULL,
	[Admission_Address1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Address2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Address3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Address4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Address5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Post_Code] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Telephone] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Admission_Fax] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Planned_Discharge_Date] [datetime] NULL,
	[Delayed_Discharge_Date] [datetime] NULL,
	[Delayed_Discharge_Code_ID] [int] NULL,
	[Responsibility_Of_Care_ID] [int] NULL,
	[Seven_Day_Disch_Followup_Required_ID] [int] NULL,
	[Seven_Day_Disch_Followup_By_Whom_Staff_ID] [int] NULL,
	[Seven_Day_Disch_Followup_Date] [datetime] NULL,
	[Sick_Certificate_Required_And_Used_ID] [int] NULL,
	[Physical_Description_Recorded_ID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Planned_Discharge_Destination_ID] [int] NULL
) ON [PRIMARY]

GO
