SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_tblMHASection](
	[MHA_Section_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[MHA_Section_Definition_ID] [int] NULL,
	[MHA_Nominated_Deputy] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Recommendation1_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Recommendation1_Section_Approved_ID] [int] NULL,
	[Recommendation2_Approver_ID] [int] NULL,
	[Recommendation2_Section_Approved_ID] [int] NULL,
	[Recommendation2_Staff_ID] [int] NULL,
	[Recommendation2_GP_ID] [int] NULL,
	[Recommendation2_Other] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Nurse_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Social_Worker_Or_Nearest_Relative_ID] [int] NULL,
	[Approved_Social_Worker_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Nearest_Relative] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[MHA_Mental_Category_ID] [int] NULL,
	[Sub_MHA_Mental_Category_ID] [int] NULL,
	[Admission_Type_ID] [int] NULL,
	[Start_Date] [datetime] NULL,
	[Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Due_End_Date] [datetime] NULL,
	[Due_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[New_Section] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Alert_Due_Date] [datetime] NULL,
	[Alert_Due_Date2] [datetime] NULL,
	[Alert_Send_To_Staff_ID] [int] NULL,
	[End_Date] [datetime] NULL,
	[End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[MHA_Outcome_ID] [int] NULL,
	[Outcome_Where_To] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Outcome_Where_From] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Date_Rights_Given_To_Patient] [datetime] NULL,
	[Date_Letter_Sent_To_Social_Services] [datetime] NULL,
	[Court_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Court_Reference] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Home_Office_Warrant] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Social_Service_Contact_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Social_Service_Contact_Date] [datetime] NULL,
	[Assessment_Received_Date] [datetime] NULL,
	[Comments] [text] COLLATE Latin1_General_CI_AS NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Start_Reason_ID] [int] NULL,
	[Transfer_Date] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
