SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_tblAppointment](
	[Appointment_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Appointment_Type_ID] [int] NULL,
	[Clinic_ID] [int] NULL,
	[Clinic_Date] [datetime] NULL,
	[Clinic_Location_ID] [int] NULL,
	[Clinic_Date_Location_ID] [int] NULL,
	[Clinic_Date_Lead_Clinician_Staff_ID] [int] NULL,
	[Clinic_Date_Attending_Clinician_Staff_ID] [int] NULL,
	[Professional_Group_ID] [int] NULL,
	[Medical_Type_Code] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Appointment_Length_Minutes] [int] NULL,
	[Single_Slot_Size_Minutes] [int] NULL,
	[Number_Of_Slots_Used] [int] NULL,
	[Scheduled_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_CPA_Review_Flag_ID] [int] NULL,
	[Attendance_Type_ID] [int] NULL,
	[Attended_Date] [datetime] NULL,
	[Time_Arrived] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Actual_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Actual_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Carer_Support_Flag_ID] [int] NULL,
	[Carer_Only_Attended_Flag_ID] [int] NULL,
	[Actual_CPA_Review_Flag_ID] [int] NULL,
	[Appointment_Outcome_ID] [int] NULL,
	[Appointment_Outcome_Detail] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Comments] [text] COLLATE Latin1_General_CI_AS NULL,
	[Transport_Required_ID] [int] NULL,
	[Transport_Provider_ID] [int] NULL,
	[Transport_Ambulance_Reference] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Transport_Manning_Type_ID] [int] NULL,
	[Transport_Gender_Preference_ID] [int] NULL,
	[Transport_Type_ID] [int] NULL,
	[Transport_Groups_Flag_ID] [int] NULL,
	[Transport_Start_Date] [datetime] NULL,
	[Transport_End_Date] [datetime] NULL,
	[User_Created] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Transport_Booked_Flag_ID] [int] NULL,
	[Object_Type_ID] [int] NULL,
	[Patient_Proxy_Attended_ID] [int] NULL,
	[Patient_Proxy_Invited_ID] [int] NULL,
	[Earliest_Reasonable_Offer_Date] [datetime] NULL,
	[Earliest_Clinically_Appropriate_Date] [datetime] NULL,
	[Replacement_Appointment_Date_Offered] [datetime] NULL,
	[Replacement_Appointment_Booked_Date] [datetime] NULL,
	[EROD_Override_Reason_ID] [int] NULL,
	[Language_Interpreter_Booked_Flag_ID] [int] NULL,
	[Marked_For_Rescheduling_ID] [int] NULL,
	[Rescheduled_From_ID] [int] NULL,
	[Rescheduled_To_ID] [int] NULL,
	[Reschedule_Reason_ID] [int] NULL,
	[Is_This_Psychological_Therapy_ID] [int] NULL,
	[Slam_Core_Om_Rating_Period_Covered_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
