SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_wrk].[CNC_tblClinicalNoteCategoryValues](
	[Clinical_Note_Category_ID] [int] NOT NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
