SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_udfEISCommonAssessmentv2](
	[EISCommonAssessmentv2_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Confirm_Flag_ID] [int] NULL,
	[Confirm_Date] [datetime] NULL,
	[Confirm_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Invalid_Date] [datetime] NULL,
	[Invalid_Flag_ID] [int] NULL,
	[Invalid_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Invalid_Reason] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OriginalAuthorID] [int] NULL,
	[StartDate] [datetime] NULL,
	[ReplanRequested] [int] NULL,
	[DocumentGroupIdentifier] [int] NULL,
	[PreviousCNObjectID] [int] NULL,
	[fldCAARMSID] [int] NULL,
	[fldCAARMSrateID] [int] NULL,
	[fldCAARMSratecomm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldpatstatID] [int] NULL,
	[fldpsydate1] [datetime] NULL,
	[fldpsydate2] [datetime] NULL,
	[fldpsydate3] [datetime] NULL,
	[fldpsydate4] [datetime] NULL,
	[fldcomorbradioID] [int] NULL,
	[fldautisticchkID] [int] NULL,
	[fldepilepsychkID] [int] NULL,
	[fldothrchkID] [int] NULL,
	[fldheadinjchkID] [int] NULL,
	[fldThyroidchkID] [int] NULL,
	[flddiabeteschkID] [int] NULL,
	[fldsubmisckID] [int] NULL,
	[fldcomorbRead] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldcomorbothercomm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldServices] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldexserAMHTID] [int] NULL,
	[fldexseryouthoffID] [int] NULL,
	[fldexserCAMHSID] [int] NULL,
	[fldexserinpatwardID] [int] NULL,
	[fldexserdrugalcID] [int] NULL,
	[fldexserothrID] [int] NULL,
	[fldExtServRead] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldextServcomm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldposdelID] [int] NULL,
	[fldposcondisorgID] [int] NULL,
	[fldposhallbehID] [int] NULL,
	[fldposexciteID] [int] NULL,
	[fldposgrandID] [int] NULL,
	[fldpossuspID] [int] NULL,
	[fldposhostID] [int] NULL,
	[fldnegbluntID] [int] NULL,
	[fldnegemowithID] [int] NULL,
	[fldnegpoorrapID] [int] NULL,
	[fldnegpasssocwithID] [int] NULL,
	[fldnegdiffabsID] [int] NULL,
	[fldneglackspontID] [int] NULL,
	[fldnegsterthinkID] [int] NULL,
	[fldsltsofasID] [int] NULL,
	[fldintcodedets] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldintsumm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldmenhlthsatID] [int] NULL,
	[fldaddhlpmenhlthID] [int] NULL,
	[fldaddhlpdetsmenhlth] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldperhlthsatID] [int] NULL,
	[fldaddhlpperhlthID] [int] NULL,
	[fldaddhlpdetsperhlth] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldjobsatID] [int] NULL,
	[fldaddhlpjobID] [int] NULL,
	[fldaddhlpdetsjob] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldaccomsatID] [int] NULL,
	[fldaddhlpaccomID] [int] NULL,
	[fldaddhlpdetsaccom] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldleisactsatID] [int] NULL,
	[fldaddhlpleisactID] [int] NULL,
	[fldaddhlpdetsleisact] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldfriendsatID] [int] NULL,
	[fldaddhlpfriendID] [int] NULL,
	[fldaddhlpdetsfriend] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldpartfamsatID] [int] NULL,
	[fldaddhlpfamsatID] [int] NULL,
	[fldaddhlpdetsfamsat] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldpersafesatID] [int] NULL,
	[fldaddhlppersafeID] [int] NULL,
	[fldaddhlpdetspersafe] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldmedsatID] [int] NULL,
	[fldaddhlpmedID] [int] NULL,
	[fldaddhlpdetsmed] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldprachlpsatID] [int] NULL,
	[fldaddhlpID] [int] NULL,
	[fldaddhlpdets] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldmenhlthconsultsatID] [int] NULL,
	[fldaddhlpmenhlthconsultID] [int] NULL,
	[fldaddhlpdetsmenhlthconsult] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldqprbtrmyslfID] [int] NULL,
	[fldqprchncsID] [int] NULL,
	[fldqprposrelID] [int] NULL,
	[fldqprprtsocID] [int] NULL,
	[fldqprassertID] [int] NULL,
	[fldqprlifepurpID] [int] NULL,
	[fldqprexpchngbtrID] [int] NULL,
	[fldqprpastevntsID] [int] NULL,
	[fldqprmotbtrID] [int] NULL,
	[fldqprpostngsID] [int] NULL,
	[fldqprundrstndmyslfID] [int] NULL,
	[fldqprchrgoflifeID] [int] NULL,
	[fldqprengwlifeID] [int] NULL,
	[fldqprcontmylifeID] [int] NULL,
	[fldqprtimeienjyID] [int] NULL,
	[fldEIPdate0] [datetime] NULL,
	[fldEIPdrop0ID] [int] NULL,
	[fldEIPdate1] [datetime] NULL,
	[fldEIPdrop1ID] [int] NULL,
	[fldEIPdate2] [datetime] NULL,
	[fldEIPdrop2ID] [int] NULL,
	[fldEIPdate3] [datetime] NULL,
	[fldEIPdrop3ID] [int] NULL,
	[fldEIPdate4] [datetime] NULL,
	[fldEIPdrop4ID] [int] NULL,
	[fldEIPdate5] [datetime] NULL,
	[fldEIPdrop5ID] [int] NULL,
	[fldEIPdate6] [datetime] NULL,
	[fldEIPdrop6ID] [int] NULL,
	[fldEIPdate7] [datetime] NULL,
	[fldEIPdrop7ID] [int] NULL,
	[fldEIPdate8] [datetime] NULL,
	[fldEIPdrop8ID] [int] NULL,
	[fldEIPdate9] [datetime] NULL,
	[fldEIPdrop9ID] [int] NULL,
	[fldEIPdate10] [datetime] NULL,
	[fldEIPdrop10ID] [int] NULL,
	[fldEIPdate11] [datetime] NULL,
	[fldEIPdrop11ID] [int] NULL,
	[fldEIPdate12] [datetime] NULL,
	[fldEIPdrop12ID] [int] NULL,
	[fldEIPdate13] [datetime] NULL,
	[fldEIPdrop13ID] [int] NULL,
	[fldEIPdate14] [datetime] NULL,
	[fldEIPdrop14ID] [int] NULL,
	[fldEIPdate15] [datetime] NULL,
	[fldEIPdrop15ID] [int] NULL,
	[fldEIPdate16] [datetime] NULL,
	[fldEIPdrop16ID] [int] NULL,
	[flgAssessType] [int] NULL,
	[flgCAARMS] [int] NULL,
	[flgcomorbchk] [int] NULL,
	[flgcomorbothr] [int] NULL,
	[flgintcodedets] [int] NULL,
	[flgExtServ] [int] NULL,
	[flgDIALOG0] [int] NULL,
	[flgDIALOG1] [int] NULL,
	[flgDIALOG2] [int] NULL,
	[flgDIALOG3] [int] NULL,
	[flgDIALOG4] [int] NULL,
	[flgDIALOG5] [int] NULL,
	[flgDIALOG6] [int] NULL,
	[flgDIALOG7] [int] NULL,
	[flgDIALOG8] [int] NULL,
	[flgDIALOG9] [int] NULL,
	[flgDIALOG10] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[fldEnteredDate] [datetime] NULL,
	[fldEnteredTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[StartTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
