SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_wrk].[CNS_udfEISCommonAssessmentv2](
	[EISCommonAssessmentv2_ID] [int] NOT NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
