SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_wrk].[CNS_tblExternalCodeMapping](
	[External_Code_Mapping_Data_Source_ID] [int] NOT NULL,
	[Internal_Data_Key] [int] NOT NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
