SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_tblAddress](
	[Address_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Usual_Address_Flag_ID] [int] NULL,
	[Address1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Post_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[City_ID] [int] NULL,
	[Main_Phone_Number_Type_ID] [int] NULL,
	[Main_Telephone_Number] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Home] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Home_Confidential_Flag_ID] [int] NULL,
	[Tel_Mobile] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Tel_SMS] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Mobile_Confidential_Flag_ID] [int] NULL,
	[Tel_Work] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Work_Confidential_Flag_ID] [int] NULL,
	[Email_Address] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[SMS_Reminders_Flag_ID] [int] NULL,
	[Address_Type_ID] [int] NULL,
	[Address_Confidential_Flag_ID] [int] NULL,
	[Start_Date] [datetime] NULL,
	[End_Date] [datetime] NULL,
	[Health_Authority] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Commissioning_Contract_Number_ID] [int] NULL,
	[Local_Authority] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Electoral_Ward] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[District_Of_Residence] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Residence_PCT_ID] [int] NULL,
	[DAT_Of_Residence_ID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Method_Of_Contact_Other] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[PCT_Of_Index_Offence_ID] [int] NULL,
	[CCG_ID] [int] NULL,
	[PDS_ID] [varchar](14) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]

GO
