SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_udfCYPHVMaternalAntenatalAssessmentV2](
	[CYPHVMaternalAntenatalAssessmentV2_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Invalid_Date] [datetime] NULL,
	[Invalid_Flag_ID] [int] NULL,
	[Invalid_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Invalid_Reason] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Flag_ID] [int] NULL,
	[Confirm_Date] [datetime] NULL,
	[Confirm_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OriginalAuthorID] [int] NULL,
	[StartDate] [datetime] NULL,
	[fldHvMatAnAsmtEstDueDate] [datetime] NULL,
	[fldHvMatAnAsmtAsmtScoreID] [int] NULL,
	[fldHvMatAnAsmtLetterSentID] [int] NULL,
	[fldHvMatAnAsmtLetterSentText] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHvMatAnAsmtPrgncyOngoingID] [int] NULL,
	[fldHvMatAnAsmtAnVstAchievedID] [int] NULL,
	[fldHvMatAnAsmtAnVstAchievedTextID] [int] NULL,
	[fldHvMatAnAsmtAnVstAchievedOther] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHvMatAnAsmtFeedingID] [int] NULL,
	[fldHvMatAnAsmtRoutineQuestID] [int] NULL,
	[fldHvMatAnAsmtRoutineQuestTextID] [int] NULL,
	[fldHvMatAnAsmtRoutineQuestOther] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHvMatAnAsmtPromGuidesID] [int] NULL,
	[fldHvMatAnAsmtPromGuidesText] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHvMatAnAsmtIntervReqID] [int] NULL,
	[fldHvMatAnAsmtIntervReqHomelessID] [int] NULL,
	[fldHvMatAnAsmtIntervReqMHConcernsID] [int] NULL,
	[fldHvMatAnAsmtIntervReqAddictionsID] [int] NULL,
	[fldHvMatAnAsmtIntervReqTeenagePregID] [int] NULL,
	[fldHvMatAnAsmtIntervReqHistOfSfgConcID] [int] NULL,
	[fldHvMatAnAsmtIntervReqCurrentSfgConcID] [int] NULL,
	[fldHvMatAnAsmtIntervReqPhysicalDisabilityID] [int] NULL,
	[fldHvMatAnAsmtIntervReqTravelFamID] [int] NULL,
	[fldHvMatAnAsmtIntervReqAsylumID] [int] NULL,
	[fldHvMatAnAsmtHlthyChildID] [int] NULL,
	[fldHvMatAnAsmtFurtherVstReqID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[fldEnteredDate] [datetime] NULL,
	[fldEnteredTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[StartTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
