SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_udfOHFTDischargeNotificationSummaryV3](
	[OHFTDischargeNotificationSummaryV3_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Confirm_Flag_ID] [int] NULL,
	[Confirm_Date] [datetime] NULL,
	[Confirm_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Invalid_Date] [datetime] NULL,
	[Invalid_Flag_ID] [int] NULL,
	[Invalid_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Invalid_Reason] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OriginalAuthorID] [int] NULL,
	[StartDate] [datetime] NULL,
	[fldDisLoc] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDisLocTele] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldConsult] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldCareCoord] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDateAdm] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDateDis] [datetime] NULL,
	[fldMHAStat] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDisNotIssID] [int] NULL,
	[fldDateNotIss] [datetime] NULL,
	[fldDiagnosis] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug1ID] [int] NULL,
	[flddose1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute1ID] [int] NULL,
	[fldprsbr1ID] [int] NULL,
	[fldcomm1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug2ID] [int] NULL,
	[flddose2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute2ID] [int] NULL,
	[fldprsbr2ID] [int] NULL,
	[fldcomm2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug3ID] [int] NULL,
	[flddose3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute3ID] [int] NULL,
	[fldprsbr3ID] [int] NULL,
	[fldcomm3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug4ID] [int] NULL,
	[flddose4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute4ID] [int] NULL,
	[fldprsbr4ID] [int] NULL,
	[fldcomm4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug5ID] [int] NULL,
	[flddose5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute5ID] [int] NULL,
	[fldprsbr5ID] [int] NULL,
	[fldcomm5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug6ID] [int] NULL,
	[flddose6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute6ID] [int] NULL,
	[fldprsbr6ID] [int] NULL,
	[fldcomm6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug7ID] [int] NULL,
	[flddose7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute7ID] [int] NULL,
	[fldprsbr7ID] [int] NULL,
	[fldcomm7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug8ID] [int] NULL,
	[flddose8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute8ID] [int] NULL,
	[fldprsbr8ID] [int] NULL,
	[fldcomm8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug9ID] [int] NULL,
	[flddose9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute9ID] [int] NULL,
	[fldprsbr9ID] [int] NULL,
	[fldcomm9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug10ID] [int] NULL,
	[flddose10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute10ID] [int] NULL,
	[fldprsbr10ID] [int] NULL,
	[fldcomm10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug11ID] [int] NULL,
	[flddose11] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute11ID] [int] NULL,
	[fldprsbr11ID] [int] NULL,
	[fldcomm11] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug12ID] [int] NULL,
	[flddose12] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute12ID] [int] NULL,
	[fldprsbr12ID] [int] NULL,
	[fldcomm12] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug13ID] [int] NULL,
	[flddose13] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute13ID] [int] NULL,
	[fldprsbr13ID] [int] NULL,
	[fldcomm13] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug14ID] [int] NULL,
	[flddose14] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute14ID] [int] NULL,
	[fldprsbr14ID] [int] NULL,
	[fldcomm14] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug15ID] [int] NULL,
	[flddose15] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute15ID] [int] NULL,
	[fldprsbr15ID] [int] NULL,
	[fldcomm15] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug16ID] [int] NULL,
	[flddose16] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute16ID] [int] NULL,
	[fldprsbr16ID] [int] NULL,
	[fldcomm16] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug17ID] [int] NULL,
	[flddose17] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute17ID] [int] NULL,
	[fldprsbr17ID] [int] NULL,
	[fldcomm17] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug18ID] [int] NULL,
	[flddose18] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute18ID] [int] NULL,
	[fldprsbr18ID] [int] NULL,
	[fldcomm18] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug19ID] [int] NULL,
	[flddose19] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute19ID] [int] NULL,
	[fldprsbr19ID] [int] NULL,
	[fldcomm19] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug20ID] [int] NULL,
	[flddose20] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute20ID] [int] NULL,
	[fldprsbr20ID] [int] NULL,
	[fldcomm20] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug21ID] [int] NULL,
	[flddose21] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute21ID] [int] NULL,
	[fldprsbr21ID] [int] NULL,
	[fldcomm21] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug22ID] [int] NULL,
	[flddose22] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute22ID] [int] NULL,
	[fldprsbr22ID] [int] NULL,
	[fldcomm22] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug23ID] [int] NULL,
	[flddose23] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute23ID] [int] NULL,
	[fldprsbr23ID] [int] NULL,
	[fldcomm23] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug24ID] [int] NULL,
	[flddose24] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute24ID] [int] NULL,
	[fldprsbr24ID] [int] NULL,
	[fldcomm24] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug25ID] [int] NULL,
	[flddose25] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute25ID] [int] NULL,
	[fldprsbr25ID] [int] NULL,
	[fldcomm25] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldBriefSumm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDisPlan] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDisComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[fld7DayFollowYNID] [int] NULL,
	[fld7DayFollowID] [int] NULL,
	[fld7DayFollowComm] [text] COLLATE Latin1_General_CI_AS NULL,
	[flgchk] [int] NULL,
	[flgchk7day] [int] NULL,
	[fldWardStayID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[fldSecDiagnosis0] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldSecDiagnosis1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldSecDiagnosis2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldSecDiagnosis3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldSecDiagnosis4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHADate] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHAStart] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHAEnd] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHAStatHide] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fld117Date] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fld117Start] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fld117End] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fld117StatHide] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fld117EndFormatted] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHAOutcome] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldMHAActive] [varchar](255) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
