SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_udfOHFTGENRiskAssessment](
	[OHFTGENRiskAssessment_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[OriginalAuthorID] [int] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[RiskHistory] [text] COLLATE Latin1_General_CI_AS NULL,
	[AggressionAndViolence612ID] [int] NULL,
	[AggressionAndViolenceEverID] [int] NULL,
	[SubstanceMisuse612ID] [int] NULL,
	[SubstanceMisuseEverID] [int] NULL,
	[ActWithSuicidalIntent612ID] [int] NULL,
	[ActWithSuicidalIntentEverID] [int] NULL,
	[PhysicalHealth612ID] [int] NULL,
	[PhysicalHealthEverID] [int] NULL,
	[SuicidalIdeation612ID] [int] NULL,
	[SuicidalIdeationEverID] [int] NULL,
	[NonConcordance612ID] [int] NULL,
	[NonConcordanceEverID] [int] NULL,
	[SevereSelfNeglect612ID] [int] NULL,
	[SevereSelfNeglectEverID] [int] NULL,
	[Disengagement612ID] [int] NULL,
	[DisengagementEverID] [int] NULL,
	[SelfHarm612ID] [int] NULL,
	[SelfHarmEverID] [int] NULL,
	[Relapse612ID] [int] NULL,
	[RelapseEverID] [int] NULL,
	[RiskToChildrenAdults612ID] [int] NULL,
	[RiskToChildrenAdultsEverID] [int] NULL,
	[Exploitation612ID] [int] NULL,
	[ExploitationEverID] [int] NULL,
	[RisksIdentifiedComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[AbscondingEscapingEverID] [int] NULL,
	[PhoneCallsEverID] [int] NULL,
	[DamageToPropertyEverID] [int] NULL,
	[TheftEverID] [int] NULL,
	[IncidentsInvolvingPoliceEverID] [int] NULL,
	[RiskEvidenceGeneralComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[AccidentalHarmOutsideHomeEverID] [int] NULL,
	[FireEverID] [int] NULL,
	[DrivingRoadSafetyEverID] [int] NULL,
	[UnsafeUseMedicationEverID] [int] NULL,
	[FallsEverID] [int] NULL,
	[AccidentsComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[ArsonEverID] [int] NULL,
	[ProbationServiceInvolvementEverID] [int] NULL,
	[ExpliotationFinancialEmotionalEverID] [int] NULL,
	[RiskToChildrenEverID] [int] NULL,
	[HostageTakingEverID] [int] NULL,
	[RiskToVulnrableAdultsEverID] [int] NULL,
	[MAPPAEverID] [int] NULL,
	[StalkingEverID] [int] NULL,
	[WeaponsEverID] [int] NULL,
	[HarmToOthersComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[ConvictedOfSexOffenceAgainstChildYoungPersonEverID] [int] NULL,
	[ConvictedOfSexualAssaultEverID] [int] NULL,
	[SexOffendersAct2003EverID] [int] NULL,
	[SexualOffencesComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[familyEverID] [int] NULL,
	[OtherClientsEverID] [int] NULL,
	[GeneralPublicEverID] [int] NULL,
	[StaffEverID] [int] NULL,
	[ViolenceTowardsOthersComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[CPPForSelfOrOtherEverID] [int] NULL,
	[RiskOfNeglectEverID] [int] NULL,
	[RiskCausedByMedicationsServicesTreatmentEverID] [int] NULL,
	[RiskOfPhysicalHarmEverID] [int] NULL,
	[RiskOfEmotionalPsychologicalAbuseEverID] [int] NULL,
	[RiskOfUnlawfulRestrictionsEverID] [int] NULL,
	[RiskOfFinancialAbuseEverID] [int] NULL,
	[RiskOfSexualExploitationEverID] [int] NULL,
	[HarmFromOthersComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[AttemptedSuicideWithIntentEverID] [int] NULL,
	[SelfNeglectEverID] [int] NULL,
	[ParaSuicideEverID] [int] NULL,
	[SuicidalIdeationHarmToSelfEverID] [int] NULL,
	[SelfInjuryOrHarmEverID] [int] NULL,
	[HarmToSelfComments] [text] COLLATE Latin1_General_CI_AS NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
