SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_tblMHASectionDefinition](
	[MHA_Section_Definition_ID] [int] NOT NULL,
	[MHA_Section_Definition_Desc] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Active] [int] NULL,
	[Default_Flag] [int] NULL,
	[External_Code1] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[External_Code2] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Display_Order] [int] NULL,
	[CORC_Export_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[MHA_Section_Duration_Type_ID] [int] NULL,
	[MHA_Section_Duration_Value] [real] NULL,
	[Nominated_Deputy_Visible_Flag_ID] [int] NULL,
	[Nominated_Deputy_Mandatory_Flag_ID] [int] NULL,
	[Recommendation1_Visible_Flag_ID] [int] NULL,
	[Recommendation1_Mandatory_Flag_ID] [int] NULL,
	[Recommendation2_Visible_Flag_ID] [int] NULL,
	[Recommendation2_Mandatory_Flag_ID] [int] NULL,
	[Nurse_Visible_Flag_ID] [int] NULL,
	[Nurse_Mandatory_Flag_ID] [int] NULL,
	[Nearest_Relative_Visible_Flag_ID] [int] NULL,
	[Nearest_Relative_Mandatory_Flag_ID] [int] NULL,
	[Approved_Social_Worker_Visible_Flag_ID] [int] NULL,
	[Approved_Social_Worker_Mandatory_Flag_ID] [int] NULL,
	[Warn_If_No_Overlap_Flag_ID] [int] NULL,
	[Set_End_Time_To_Midnight_Flag_ID] [int] NULL,
	[Include_Social_Service_Assessment_Flag_ID] [int] NULL,
	[Display_Renewal_Button_Flag_ID] [int] NULL,
	[Display_Extension_Button_Flag_ID] [int] NULL,
	[Comment_For_Med_Officer_Knows_Patient_Flag_ID] [int] NULL,
	[Auto_Create_Section117_Doc_Flag_ID] [int] NULL,
	[Include_Court_Details_Flag_ID] [int] NULL,
	[Include_Home_Office_Details_Flag_ID] [int] NULL,
	[Display_Mental_Category_Change_Button_Flag_ID] [int] NULL,
	[Display_Sec12_Recomendation1_Approved_Flag_ID] [int] NULL,
	[Display_Sec12_Recomendation2_Approved_Flag_ID] [int] NULL,
	[Allow_Section_To_Be_Run_Concurrently_Under_Other_Sections_Flag_ID] [int] NULL,
	[User_Created] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
