SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_tblLocation](
	[Location_ID] [int] NOT NULL,
	[Location_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Start_Date] [datetime] NULL,
	[Location_Status_ID] [int] NULL,
	[End_Date] [datetime] NULL,
	[Location_Team_Ward_ID] [int] NULL,
	[Location_IMC_Code_ID] [int] NULL,
	[Location_Specialty_ID] [int] NULL,
	[Location_Sub_Specialty_ID] [int] NULL,
	[Location_Category_ID] [int] NULL,
	[Location_Gender_ID] [int] NULL,
	[Location_Beds] [smallint] NULL,
	[Address1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Post_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Phone] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_NFF_Ward_Type] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Site_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Clinical_Care_Intensity_ID] [int] NULL,
	[Location_Division_ID] [int] NULL,
	[Cost_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[CAMHS_Service_Tier] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Clinical_Team_Classification_ID] [int] NULL,
	[CMHT_Administrator_Staff_ID] [int] NULL,
	[Consultant_Staff_ID] [int] NULL,
	[Team_Email_Address] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[MHA_Administration_Offices_ID] [int] NULL,
	[Default_Booking_Type_ID] [int] NULL,
	[Default_PB_Contact_Type_ID] [int] NULL,
	[Additional_Information] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Notes] [text] COLLATE Latin1_General_CI_AS NULL,
	[Agency_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[PCT_ID] [int] NULL,
	[SM_Cost_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[SM_Service_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Ppa_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Sms_Appointment_Reminders_ID] [int] NULL,
	[Sms_Tail] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Location_Udf_10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Prescriber_PIN] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Prescriber_Practice_Code] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Ward_Security_Level_ID] [int] NULL,
	[Intended_Age_Group_ID] [int] NULL,
	[User_Created] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Cluster_Location_ID] [int] NULL,
	[Cluster_Location_Object_Type_ID] [int] NULL,
	[Mental_Health_Care_Team_Type_ID] [int] NULL,
	[Admission_Setting_ID] [int] NULL,
	[CCG_ID] [int] NULL,
	[MHSDS_Service_Type_ID] [int] NULL,
	[Ward_Locked_ID] [int] NULL,
	[Place_Of_Safety_ID] [int] NULL,
	[Hospital_Bed_Type_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
