SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[ADA_Provider](
	[ProviderRef] [uniqueidentifier] NOT NULL,
	[OrganisationGroupRef] [uniqueidentifier] NULL,
	[RotaGroupRef] [uniqueidentifier] NULL,
	[Forename] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Surname] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SurnamePrefix] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Maiden] [varchar](35) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Lookup] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProviderType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PagerNumber] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sex] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AlternativeKey] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Interlinkage] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Initials] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[HomePhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MobilePhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[OtherPhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EDIAddress] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[V2LastUpdate] [datetime] NULL,
	[AddressRef] [uniqueidentifier] NULL,
	[V2Import] [bit] NULL,
	[Obsolete] [bit] NULL,
	[Member] [bit] NULL,
	[IndemnityNumber] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IndemnityRenewal] [datetime] NULL,
	[ApprovedForService] [bit] NULL,
	[XXX_LastAppraisalDate] [datetime] NULL,
	[XXX_Audited] [bit] NULL,
	[XXX_LastAuditDate] [datetime] NULL,
	[PSQOversamplingEndDate] [datetime] NULL,
	[ContactDetails] [varchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PagerFormat] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NationalProviderCode] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AremoteDeviceRef] [uniqueidentifier] NULL,
	[ProviderPaymentGroupRef] [uniqueidentifier] NULL,
	[ProviderBillingGroupRef] [uniqueidentifier] NULL,
	[WorkOptOut] [bit] NULL,
	[RetainerPercentage] [int] NULL,
	[ApprovedForServiceByUserRef] [uniqueidentifier] NULL,
	[ApprovedForServiceDate] [datetime] NULL,
	[AverageHoursWorkedOutsideOrganisation] [int] NULL,
	[PCTPerformersList] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PCTPerformersListLastCheckDate] [datetime] NULL,
	[IndemnityInsuranceProviderRef] [uniqueidentifier] NULL,
	[DefaultAvailabilityPatternRef] [uniqueidentifier] NULL,
	[ApprovedOnBehalfOfUserRef] [uniqueidentifier] NULL
) ON [PRIMARY]

GO
