SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[ADA_CaseAudit](
	[CaseAuditRef] [uniqueidentifier] NOT NULL,
	[CaseStatus] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChangeReason] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CaseRef] [uniqueidentifier] NULL,
	[EditDate] [datetime] NULL,
	[ServiceRef] [uniqueidentifier] NULL,
	[OrganisationGroupRef] [uniqueidentifier] NULL,
	[CurrentLocationRef] [uniqueidentifier] NULL,
	[PatientRef] [uniqueidentifier] NULL,
	[ProviderRef] [uniqueidentifier] NULL,
	[CaseNo] [int] NULL,
	[ActiveDate] [datetime] NULL,
	[EntryDate] [datetime] NULL,
	[ContactPhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CurrentLocationPhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Forename] [varchar](45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Surname] [varchar](45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SurnamePrefix] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Maiden] [varchar](45) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaidenPrefix] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CaseTypeRef] [uniqueidentifier] NULL,
	[CallerRelationshipRef] [uniqueidentifier] NULL,
	[CallerName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CallerPhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CallerExtn] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProviderGroupRef] [uniqueidentifier] NULL,
	[Summary] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BookedDate] [datetime] NULL,
	[ProviderAdditionalText] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsuranceType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsuranceSource] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsuranceCompanyRef] [uniqueidentifier] NULL,
	[InsuranceNumber] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LocationRef] [uniqueidentifier] NULL,
	[FinalOutcomeRef] [uniqueidentifier] NULL,
	[Cancelled] [bit] NULL,
	[Testcall] [bit] NULL,
	[PatientAuditRef] [uniqueidentifier] NULL,
	[SpecialismRef] [uniqueidentifier] NULL,
	[DutyStationRef] [uniqueidentifier] NULL,
	[CurrentLocationExpiry] [datetime] NULL,
	[ProviderGroupAdditionalText] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RegistrationTypeRef] [uniqueidentifier] NULL,
	[Initials] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Confidential] [bit] NULL,
	[MultipleCallMasterCaseRef] [uniqueidentifier] NULL,
	[CoverRef] [uniqueidentifier] NULL,
	[InvoiceAddressRef] [uniqueidentifier] NULL,
	[ActivePerformanceManagementRef] [uniqueidentifier] NULL,
	[SpecialismTypeRef] [uniqueidentifier] NULL,
	[PassProviderRef] [uniqueidentifier] NULL,
	[RequiresUserAcknowledgement] [bit] NULL,
	[UserAcknowledged] [bit] NULL,
	[AcknowledgementMessageRef] [uniqueidentifier] NULL,
	[LastEditByUserRef] [uniqueidentifier] NULL,
	[ProviderType] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WalkIn] [bit] NULL,
	[CaseTagRef] [uniqueidentifier] NULL,
	[SensitiveCase] [bit] NULL,
	[CurrentLocationPhoneExtn] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactPhoneExtn] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CallerIdPhone] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NationalProviderCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NationalProviderGroupCode] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InsuranceStartDate] [datetime] NULL,
	[InsuranceEndDate] [datetime] NULL,
	[NationalNumberStatus] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FutureCase] [bit] NULL,
	[ServiceVisibility] [int] NULL,
	[OtherServiceVisibility] [int] NULL,
	[CallerPhonePrefix] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContactPhonePrefix] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CurrentLocationPhonePrefix] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NationalRepeatCallerStatus] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NoteRematchRequired] [bit] NULL,
	[AlertAcknowledgementDate] [datetime] NULL,
	[SequenceNumber] [int] NULL,
	[UpdateReference] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
