SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_tblAbsence](
	[Absence_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Absence_Type_ID] [int] NULL,
	[AWOL_End_Reason_ID] [int] NULL,
	[Address_Type_ID] [int] NULL,
	[Location_ID] [int] NULL,
	[Absence_Status_ID] [int] NULL,
	[Planned_Start_Date] [datetime] NULL,
	[Planned_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Planned_Start_Dttm] [datetime] NULL,
	[Planned_End_Date] [datetime] NULL,
	[Planned_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Planned_End_Dttm] [datetime] NULL,
	[Cancellation_Reason] [text] COLLATE Latin1_General_CI_AS NULL,
	[Address1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Address5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Post_Code] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Home] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Home_Confidential_ID] [int] NULL,
	[Tel_Mobile] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Mob_Confidential_ID] [int] NULL,
	[Tel_Work] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Tel_Work_Confidential_ID] [int] NULL,
	[Actual_Start_Date] [datetime] NULL,
	[Actual_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Actual_Start_Dttm] [datetime] NULL,
	[Actual_End_Date] [datetime] NULL,
	[Actual_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Actual_End_Dttm] [datetime] NULL,
	[Sleepover_Location_ID] [int] NULL,
	[Supervised_Community_Treatment_Considered_ID] [int] NULL,
	[Supervised_Community_Treatment_Not_Used_Reasons_ID] [int] NULL,
	[How_Did_Period_End_ID] [int] NULL,
	[Conditions] [text] COLLATE Latin1_General_CI_AS NULL,
	[MHA_Section_Definition_ID] [int] NULL,
	[Absence_RMO_ID] [int] NULL,
	[S17_End_Reason_ID] [int] NULL,
	[Comments] [text] COLLATE Latin1_General_CI_AS NULL,
	[User_Created] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
