SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_tblDiaryAppointment](
	[Diary_Appointment_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Created_By_Staff_ID] [int] NULL,
	[Service_ID] [int] NULL,
	[Location_ID] [int] NULL,
	[DH_Session_Type_ID] [int] NULL,
	[Attendance_Type_ID] [int] NULL,
	[Event_Type_ID] [int] NULL,
	[No_Clinicians_Attendee_Flag_ID] [int] NULL,
	[Scheduled_Other_Invitees] [text] COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_CPA_Review_Flag_ID] [int] NULL,
	[Scheduled_Interpreter_Reqd_Flag_ID] [int] NULL,
	[Scheduled_Location_ID] [int] NULL,
	[Scheduled_Room_ID] [int] NULL,
	[Scheduled_Start_Date] [datetime] NULL,
	[Scheduled_Overnight_Flag_ID] [int] NULL,
	[Scheduled_End_Date] [datetime] NULL,
	[Scheduled_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Scheduled_Start_Dttm] [datetime] NULL,
	[Scheduled_End_Dttm] [datetime] NULL,
	[Scheduled_Event_Type_Of_Contact_ID] [int] NULL,
	[Att_Other_Invitees] [text] COLLATE Latin1_General_CI_AS NULL,
	[Att_CPA_Review_Flag_ID] [int] NULL,
	[Att_Interpreter_Attended_Flag_ID] [int] NULL,
	[Att_Location_ID] [int] NULL,
	[Att_Room_ID] [int] NULL,
	[Att_Start_Date] [datetime] NULL,
	[Att_End_Date] [datetime] NULL,
	[Att_Overnight_Flag_ID] [int] NULL,
	[Att_Start_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Att_End_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Att_Start_Dttm] [datetime] NULL,
	[Att_End_Dttm] [datetime] NULL,
	[Att_Event_Type_Of_Contact_ID] [int] NULL,
	[Comments] [text] COLLATE Latin1_General_CI_AS NULL,
	[Transport_Required_ID] [int] NULL,
	[Transport_Provider_ID] [int] NULL,
	[Transport_Ambulance_Reference] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Transport_Manning_Type_ID] [int] NULL,
	[Transport_Gender_Preference_ID] [int] NULL,
	[Transport_Type_ID] [int] NULL,
	[Transport_Groups_Flag_ID] [int] NULL,
	[Transport_Start_Date] [datetime] NULL,
	[Transport_End_Date] [datetime] NULL,
	[Invitee_Staff_Only_ID] [int] NULL,
	[Attendee_Staff_Only_ID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[Object_Type_ID] [int] NULL,
	[Att_Patient_Proxy_Attended_ID] [int] NULL,
	[Scheduled_Patient_Proxy_Invited_ID] [int] NULL,
	[Earliest_Reasonable_Offer_Date] [datetime] NULL,
	[Earliest_Clinically_Appropriate_Date] [datetime] NULL,
	[Replacement_Appointment_Date_Offered] [datetime] NULL,
	[Replacement_Appointment_Booked_Date] [datetime] NULL,
	[EROD_Override_Reason_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
