SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_wrk].[CNC_tblPracticeSLAMEDTHubSubscriber](
	[Practice_SLAM_EDT_Hub_Subscriber_ID] [int] NOT NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
