SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNC_udfHeartFailurev4](
	[HeartFailurev4_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Confirm_Flag_ID] [int] NULL,
	[Confirm_Date] [datetime] NULL,
	[Confirm_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OriginalAuthorID] [int] NULL,
	[fldEnteredDate] [datetime] NULL,
	[fldEnteredTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[StartDate] [datetime] NULL,
	[StartTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[ReplanRequested] [int] NULL,
	[DocumentGroupIdentifier] [int] NULL,
	[PreviousCNObjectID] [int] NULL,
	[fldService] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldServEmail] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldServTele] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldSessionTypeID] [int] NULL,
	[fldPatInfo] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDNACPRID] [int] NULL,
	[fldResearchDiscussedID] [int] NULL,
	[fldProjDiscussedID] [int] NULL,
	[fldResProjDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldLVSDID] [int] NULL,
	[fldEjectFrac] [float] NULL,
	[fldEchoOutcomesID] [int] NULL,
	[fldchkIschaemicID] [int] NULL,
	[fldchkDCMID] [int] NULL,
	[fldchkCardiomyopathyID] [int] NULL,
	[fldchknonLVSDID] [int] NULL,
	[fldchkValvularID] [int] NULL,
	[fldchkAlchCardiomyopID] [int] NULL,
	[fldchkCongHeartID] [int] NULL,
	[fldchkUnknownID] [int] NULL,
	[fldchkHypertenseID] [int] NULL,
	[fldchkRestCardiomyopID] [int] NULL,
	[fldchkInhHeartID] [int] NULL,
	[fldchkOtherID] [int] NULL,
	[fldAeitologyOther] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldIschHeartID] [int] NULL,
	[fldIschHeartDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldValveDiseaseID] [int] NULL,
	[fldValveDiseaseDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHypertensionID] [int] NULL,
	[fldHypertensionDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldArrhythmiaID] [int] NULL,
	[fldArrhythmiaDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDiabetesID] [int] NULL,
	[fldDiabetesDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldChronKidDiseaseID] [int] NULL,
	[fldChronKidDiseaseDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldAsthmaID] [int] NULL,
	[fldAsthmaDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCOPDID] [int] NULL,
	[fldCOPDDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCerebroAccID] [int] NULL,
	[fldCerebroAccDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldPeriVascDiseaseID] [int] NULL,
	[fldPeriVascDiseaseDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldAnaemiaID] [int] NULL,
	[fldAnaemiaDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldOthrMedHist] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDeviceID] [int] NULL,
	[fldDeviceDate] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDeviceDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCoroAngioID] [int] NULL,
	[fldCoroAngioDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldPCIID] [int] NULL,
	[fldPCIDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCABGID] [int] NULL,
	[fldCABGDetails] [text] COLLATE Latin1_General_CI_AS NULL,
	[flddrug1ID] [int] NULL,
	[flddose1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute1ID] [int] NULL,
	[fldprsbr1ID] [int] NULL,
	[fldcomm1] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug2ID] [int] NULL,
	[flddose2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute2ID] [int] NULL,
	[fldprsbr2ID] [int] NULL,
	[fldcomm2] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug3ID] [int] NULL,
	[flddose3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute3ID] [int] NULL,
	[fldprsbr3ID] [int] NULL,
	[fldcomm3] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug4ID] [int] NULL,
	[flddose4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute4ID] [int] NULL,
	[fldprsbr4ID] [int] NULL,
	[fldcomm4] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug5ID] [int] NULL,
	[flddose5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute5ID] [int] NULL,
	[fldprsbr5ID] [int] NULL,
	[fldcomm5] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug6ID] [int] NULL,
	[flddose6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute6ID] [int] NULL,
	[fldprsbr6ID] [int] NULL,
	[fldcomm6] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug7ID] [int] NULL,
	[flddose7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute7ID] [int] NULL,
	[fldprsbr7ID] [int] NULL,
	[fldcomm7] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug8ID] [int] NULL,
	[flddose8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute8ID] [int] NULL,
	[fldprsbr8ID] [int] NULL,
	[fldcomm8] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug9ID] [int] NULL,
	[flddose9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute9ID] [int] NULL,
	[fldprsbr9ID] [int] NULL,
	[fldcomm9] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug10ID] [int] NULL,
	[flddose10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute10ID] [int] NULL,
	[fldprsbr10ID] [int] NULL,
	[fldcomm10] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug11ID] [int] NULL,
	[flddose11] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq11] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute11ID] [int] NULL,
	[fldprsbr11ID] [int] NULL,
	[fldcomm11] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug12ID] [int] NULL,
	[flddose12] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq12] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute12ID] [int] NULL,
	[fldprsbr12ID] [int] NULL,
	[fldcomm12] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug13ID] [int] NULL,
	[flddose13] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq13] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute13ID] [int] NULL,
	[fldprsbr13ID] [int] NULL,
	[fldcomm13] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug14ID] [int] NULL,
	[flddose14] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq14] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute14ID] [int] NULL,
	[fldprsbr14ID] [int] NULL,
	[fldcomm14] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug15ID] [int] NULL,
	[flddose15] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq15] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute15ID] [int] NULL,
	[fldprsbr15ID] [int] NULL,
	[fldcomm15] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug16ID] [int] NULL,
	[flddose16] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq16] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute16ID] [int] NULL,
	[fldprsbr16ID] [int] NULL,
	[fldcomm16] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug17ID] [int] NULL,
	[flddose17] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq17] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute17ID] [int] NULL,
	[fldprsbr17ID] [int] NULL,
	[fldcomm17] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug18ID] [int] NULL,
	[flddose18] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq18] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute18ID] [int] NULL,
	[fldprsbr18ID] [int] NULL,
	[fldcomm18] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug19ID] [int] NULL,
	[flddose19] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq19] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute19ID] [int] NULL,
	[fldprsbr19ID] [int] NULL,
	[fldcomm19] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug20ID] [int] NULL,
	[flddose20] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq20] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute20ID] [int] NULL,
	[fldprsbr20ID] [int] NULL,
	[fldcomm20] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug21ID] [int] NULL,
	[flddose21] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq21] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute21ID] [int] NULL,
	[fldprsbr21ID] [int] NULL,
	[fldcomm21] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug22ID] [int] NULL,
	[flddose22] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq22] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute22ID] [int] NULL,
	[fldprsbr22ID] [int] NULL,
	[fldcomm22] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug23ID] [int] NULL,
	[flddose23] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq23] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute23ID] [int] NULL,
	[fldprsbr23ID] [int] NULL,
	[fldcomm23] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug24ID] [int] NULL,
	[flddose24] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq24] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute24ID] [int] NULL,
	[fldprsbr24ID] [int] NULL,
	[fldcomm24] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[flddrug25ID] [int] NULL,
	[flddose25] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldfreq25] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldroute25ID] [int] NULL,
	[fldprsbr25ID] [int] NULL,
	[fldcomm25] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldFutureMeds] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldHeartFailMed] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldOthrRelMed] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldBreathlessness] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldMobLimit] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldOrthopnoea] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldPND] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldOedema] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldAscites] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldChest] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCough] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldFldIntake] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldAngina] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldPalpitations] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldDizziness] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldFatigue] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldECGFind] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldCardiacRehabID] [int] NULL,
	[fldCBTRevID] [int] NULL,
	[fldWeight] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldSittingBP] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldStandingBP] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldHeartRythID] [int] NULL,
	[fldPulse] [int] NULL,
	[fldResp] [int] NULL,
	[fldSpO2] [int] NULL,
	[fldTemp] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldNYHAID] [int] NULL,
	[fldMUST] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldBraden] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[fldDetsPlanAction] [text] COLLATE Latin1_General_CI_AS NULL,
	[flgchknewform] [int] NULL,
	[flgchkDNACPR] [int] NULL,
	[flgchkAetiologyOther] [int] NULL,
	[flgchkIschHeart] [int] NULL,
	[flgchkValveDisease] [int] NULL,
	[flgchkHypertension] [int] NULL,
	[flgchkArrhythmia] [int] NULL,
	[flgchkDiabetes] [int] NULL,
	[flgchkChronKidDisease] [int] NULL,
	[flgchkAsthma] [int] NULL,
	[flgchkCOPD] [int] NULL,
	[flgchkCerebroAcc] [int] NULL,
	[flgchkPeriVascDisease] [int] NULL,
	[flgchkAnaemia] [int] NULL,
	[flgchkCoroAngio] [int] NULL,
	[flgchkPCI] [int] NULL,
	[flgchkCABG] [int] NULL,
	[flgchkResearch] [int] NULL,
	[flgchkDevice] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
