SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_udfOHFTGENRiskAssessmentv3](
	[OHFTGENRiskAssessmentv3_ID] [int] NOT NULL,
	[Patient_ID] [int] NULL,
	[Confirm_Flag_ID] [int] NULL,
	[Confirm_Date] [datetime] NULL,
	[Confirm_Time] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Confirm_Staff_Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[OriginalAuthorID] [int] NULL,
	[aRole] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[fldRiskAssessSlfHrmID] [int] NULL,
	[fldRiskIdCommentSlfHrm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentSlfHrm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessSuicideID] [int] NULL,
	[fldRiskIdCommentSuicide] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentSuicide] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessSlfNgtID] [int] NULL,
	[fldRiskIdCommentSlfNgt] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentSlfNgt] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessHthFallsID] [int] NULL,
	[fldRiskIdCommentHthFalls] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentHthFalls] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessMUsfMedID] [int] NULL,
	[fldRiskIdCommentMUsfMed] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentMUsfMed] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessSubMisID] [int] NULL,
	[fldRiskIdCommentSubMis] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentSubMis] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessActHrmID] [int] NULL,
	[fldRiskIdCommentActHrm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentActHrm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessDisengID] [int] NULL,
	[fldRiskIdCommentDiseng] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentDiseng] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessRskFOtrID] [int] NULL,
	[fldRiskIdCommentRskFOtr] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentRskFOtr] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessAggVioID] [int] NULL,
	[fldRiskIdCommentAggVio] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentAggVio] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessFireSetID] [int] NULL,
	[fldRiskIdCommentFireSet] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentFireSet] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessSexOffID] [int] NULL,
	[fldRiskIdCommentSexOff] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentSexOff] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessRskTOtrID] [int] NULL,
	[fldRiskIdCommentRskTOtr] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentRskTOtr] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessRskCdnID] [int] NULL,
	[fldRiskIdCommentRskCdn] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentRskCdn] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessDmgPrpID] [int] NULL,
	[fldRiskIdCommentDmgPrp] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentDmgPrp] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessMAPPAID] [int] NULL,
	[fldRiskIdCommentMAPPA] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentMAPPA] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessULawRstID] [int] NULL,
	[fldRiskIdCommentULawRst] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentULawRst] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessAsbEscID] [int] NULL,
	[fldRiskIdCommentAsbEsc] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentAsbEsc] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessCPPID] [int] NULL,
	[fldRiskIdCommentCPP] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentCPP] [text] COLLATE Latin1_General_CI_AS NULL,
	[RiskSummary] [text] COLLATE Latin1_General_CI_AS NULL,
	[ReplanRequested] [int] NULL,
	[DocumentGroupIdentifier] [int] NULL,
	[PreviousCNObjectID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[StartTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[fldRefSocCareID] [int] NULL,
	[fldRefSocDate] [datetime] NULL,
	[fldRefReasonID] [int] NULL,
	[fldRefReasonComm] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskAssessLACID] [int] NULL,
	[fldRiskIdCommentLAC] [text] COLLATE Latin1_General_CI_AS NULL,
	[fldRiskUnableCommentLAC] [text] COLLATE Latin1_General_CI_AS NULL,
	[flgchkChildRisk] [int] NULL,
	[flgchkSocialCare] [int] NULL,
	[flgchkSocialCareComm] [int] NULL,
	[flgchkendborder] [int] NULL,
	[flgchkGen0] [int] NULL,
	[flgchkGen1] [int] NULL,
	[flgchkGen2] [int] NULL,
	[flgchkGen3] [int] NULL,
	[flgchkGen4] [int] NULL,
	[flgchkGen5] [int] NULL,
	[flgchkGen6] [int] NULL,
	[flgchkGen7] [int] NULL,
	[flgchkGen8] [int] NULL,
	[flgchkGen9] [int] NULL,
	[flgchkGen10] [int] NULL,
	[flgchkGen11] [int] NULL,
	[flgchkGen12] [int] NULL,
	[flgchkGen13] [int] NULL,
	[flgchkGen14] [int] NULL,
	[flgchkGen15] [int] NULL,
	[flgchkGen16] [int] NULL,
	[flgchkGen17] [int] NULL,
	[flgchkGen18] [int] NULL,
	[flgchkGen19] [int] NULL,
	[fldEnteredDate] [datetime] NULL,
	[fldEnteredTime] [varchar](5) COLLATE Latin1_General_CI_AS NULL,
	[fldRefSocCareComm] [text] COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
