SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[PCMSBCKS_PatientDetails](
	[PatientID] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Title] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MiddleName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DOB] [smalldatetime] NULL,
	[Nationality] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Gender] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Ethnicity] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address1] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address2] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address3] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TownCity] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[County] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PostCode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TelHome] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TelMobile] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TelWork] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NHSNumber] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FamilyName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousName] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousAddress1] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousAddress2] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousAddress3] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousTownCity] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousCounty] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PreviousPostCode] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccomodationType] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SingleOccupancy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MaritalStatus] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MainLanguage] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Sexuality] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Mobility] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DateOfDeath] [smalldatetime] NULL,
	[Email] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Alerts] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Disability] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Reminders] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Religion] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DependantChildren] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChildDetails1] [int] NULL,
	[ChildDetails2] [int] NULL,
	[ChildDetails3] [int] NULL,
	[ChildDetails4] [int] NULL,
	[ChildDetails5] [int] NULL,
	[ChildDetails6] [int] NULL,
	[ChildDetails7] [int] NULL,
	[ChildDetails8] [int] NULL,
	[ChildDetails9] [int] NULL,
	[ChildDetails10] [int] NULL,
	[CarerDetails1] [int] NULL,
	[CarerDetails2] [int] NULL,
	[CarerDetails3] [int] NULL,
	[VoicemailHome] [bit] NULL,
	[VoicemailMobile] [bit] NULL,
	[VoicemailWork] [bit] NULL,
	[NHSNumberVerified] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TelGP] [nvarchar](32) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PriorIllness] [bit] NULL,
	[PriorTreatment] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Medicated] [bit] NULL,
	[DateOfMedication] [smalldatetime] NULL,
	[EndOfMedication] [smalldatetime] NULL,
	[NotifyBySMS] [bit] NULL,
	[ArmedForcesCode] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastNameAlias] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FirstNameAlias] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DisplayName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Interpreter] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[InterpreterLanguage] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrimaryMUS] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IntIAPTConsent] [bit] NULL
) ON [PRIMARY]

GO
