SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_wrk].[CNS_tblStaffJobRoleCodeValues](
	[Staff_Job_Role_Code_ID] [int] NOT NULL,
	[Updated_Dttm] [datetime] NOT NULL
) ON [PRIMARY]

GO
