SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [mrr_tbl].[CNS_tblStaff](
	[Staff_ID] [int] NOT NULL,
	[Staff_Name] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Forename] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[MiddleInitial] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Surname] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Active] [int] NULL,
	[Staff_Type_ID] [int] NULL,
	[Job_Title] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Email] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Enable_Email_ID] [int] NULL,
	[Mobile] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Enable_Mobile_ID] [int] NULL,
	[Employee_Ref] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Staff_Loc_ID] [int] NULL,
	[Professional_Group_ID] [int] NULL,
	[Occupation_Code_ID] [int] NULL,
	[Specialty_ID] [int] NULL,
	[Consultant_GMC_Code] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_1] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_2] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_3] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_4] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_5] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_6] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_7] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_8] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_9] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Available_Appointment_10] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Additional_Information] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[RC_Type_ID] [int] NULL,
	[Appointment_Notes] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[Staff_Notes] [text] COLLATE Latin1_General_CI_AS NULL,
	[Prescriber_PIN] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Prescriber_Type_ID] [int] NULL,
	[Job_Role_Code_ID] [int] NULL,
	[User_Created] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Create_Dttm] [datetime] NULL,
	[User_Updated] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[Updated_Dttm] [datetime] NOT NULL,
	[SDS_ID] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Default_Role_Profile_Code_ID] [int] NULL,
	[IAPT_Training_ID] [int] NULL,
	[CYP_IAPT_Dataset_Profession_ID] [int] NULL,
	[Treatment_Function_Code_ID] [int] NULL,
	[Clinician_Type_ID] [int] NULL,
	[Gender_ID] [int] NULL,
	[Religion_ID] [int] NULL,
	[Professional_Registration_Entry] [varchar](32) COLLATE Latin1_General_CI_AS NULL,
	[Professional_Body_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
